@CHARSET "UTF-8";

.btn-yellow {
	background-color: #FFB61E;
	color: #000000;
}

.btn-white {
	background-color: #ffffff;
	color: #cf2d39;
	border: 1px solid #cccccc;
}
/* counsel.html ======================================== */
#thumbnail-new {
	padding: 0px;
	border-radius: 0px;
	line-height: 1;
}
#thumbnail-new > img {
	height: 191px;
}
 
.close-new {
	position: absolute;
	float: right;
	top: 5px;
	right: 25px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

.panel-footer-grade{
	background: url("../icon/icon_star2.gif") 0px 0px;
	width: 90px;
	height: 18px;
}
.panel-footer-grade p{
	width: 70%;
	background: url("../icon/icon_star.gif") 0px 0px;
	height: 18px;
}

.bg-black {
	background: #000000;
	border-color: #000000;
}

.file-div {
	width: 100%;
	margin-bottom: 15px;
}
.file-img {
	width: 100%;
	height: 160px;
}
.file-hidden {
	z-index: 1; 
	position: absolute; 
	opacity: 0;
	cursor: pointer;
}

.sample {
	display: none;
}

#choice-val {
	display: block;
}

.hResult {
	width: 400px;
	height: 200px;
	border: 1px solid #000000;
	float: right;
	margin-right: 15px;
	display: none;
	position: absolute;
} 


/* search_hopital.html ======================================== */
.search-result {
	border: 1px solid #aab2bd;
	margin-right: -10px;
	height: 400px;
}

.font-new {
	font-family: 'Nanum Gothic', serif;
}
.font-bold {
	font-weight: bold;
}