@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/*** top.html ******************************/
.nav > li > a:hover, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.navbar .dropdown-menu > li > a:HOVER {
	background-color: #a5242d;
}

.navbar-header > a, .nav > li > a, .dropdown-menu > li > a,
h1, label, span, .font-basic, .btn {
	font-family: 'Noto Sans', sans-serif;
}

.dropdown-menu > li > a {
	padding: 8px 15px;
}


/*** 공통 ******************************/
.text-center {
	text-align: center;
}
 
.btn-danger:hover {
	background-color: white;
	border-color: #cf2d39;
	color: #cf2d39; 
}
.btn-default:hover {
	background-color: white;
	border-color: #333333;
	color: #333333; 
}

.hr-new {
	margin: 21px 0px;
	border: 0px;
	border-top: 0.05px solid #dddddd;
}

label, input {
	font-size: 12px;
}

.page-header-new {
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	font-weight: 400;
	color: #595959;
	margin-bottom: 20px;
}

.smIcon {
	width: 15px;
	height: 15px;
	margin: 0px 4px;
}

.ellipsis {
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
}

.font-bold {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

a { 
	text-decoration: none; 
	color: #000;
}

body { margin: 0px }

.must {
	color: red;
}

.btn-half {
	padding: 4px 12px;
	font-size: 13px;
}