@CHARSET "UTF-8";

.body-content{
	width: 80%;
	margin-left: 150px;
	margin-right: 150px;
}

.paddingZero {
	padding-bottom: 0px;
	padding-right: 0px;
}

.buttonColor {
	background-color: white;
	color: #cf2d39;
}

.joinAlink {
	color: #595959;
	font-size: 8pt;
	padding-right: 0px;
}

