@CHARSET "UTF-8";


body{
	height: 100%;
	background: white;
}
#body-all{
}

#body-contents{
	position:absolute;
/* 	float: left; */
	width: 80%;
	height: 100%;
	margin-left: 200px;
 	margin-top: 0px;
}
#body-right{
/* 	float: right; */
	position:absolute;
	width:10%;
	border: 1px solid black;
	margin-top:90px;
	height: 80%;
	position: fixed;
}
.selectBar{
	max-width: 1920px;
	max-height: 1080px;
	width:100%;
	height:50px;
	position: relative;
	
}
.selectBarItem-1{
	background: #B2B2B2;
	height: 50px;
}
.selectBarItem-2{
	background: #D9D9D9;
	height: 50px;
}
.selectBarItem-1,.selectBarItem-2{
	float: left;
	padding-top: 10px;
	position: relative;
	width: 50%;
}

.selectBarItem-1 a{
	margin-left:40%;
}
.selectBarItem-2 a{
	margin-left:50%;
}
.selectBarItem-1 a,.selectBarItem-2 a{
	text-decoration:none;
	font-size: 20px;
	color: white;
	margin-top:50px;
}
#columns {
	column-width: 30px;
	column-gap: 15px;
	width: 100%;
	max-width: 1266px;
	margin: 20px auto;
}
.item{
	width : 270px;
    margin : 10px;
	float: left;
}

div#columns figure {
	width:270px;
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: all 1s; /*opacity .4s ease-in-out;*/
	column-break-inside: avoid;
	display: inline-block;
}
div#columns figure figcaption.wish {
	width: 30px;
	height: 20px;
}
.review{
	width:90%;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.hReview a{
	text-decoration: none;
	color: black;
}
.hReview span{
	margin-left: 5px;
	font-weight: bold;
	font-size: 25px;
}

.viewCount{
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top: 5px;
}

.recom{
	margin-left: 10px;
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top: 5px;
}
.hRecom{
	float: left;
}

.wish{
	margin-left: 32%;
	float: left;	
}
.wish img{
	width: 30px;
	height: 20px;
}
.hWish{
	margin-left: 73%;
	float: left;
}

div#columns figure>a>img {
	width: 235px;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
/*
 div#columns:hover figure:not(:hover) { 
 	opacity: 0.4; 
 }
 */
 
div#columns:hover figure:hover{
	border: 3px solid #cf2d39;
}

@media screen and (max-width: 1024px) {
		#columns { column-gap: 0px; }
		#columns figure { width: 100%; }
}

/* 팝업 관련 디자인*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 1000px;
  height: 600px;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.hospital-Content{
	height: 250px;
}
.hospital-Img{
	float: left;
}
.hospital-Info{
	margin-left: 10px;
	float: left;
	/* div 폰트설정*/
}

.doctor-Img,.doctor-Info{
	float: left;
}
.doctor-Info{
	margin-left: 10px;
}

.hospital-Info-Detail{
	/* div 폰트설정*/
	
	margin-left: 20px;
	font-size: 15px;
	color: white;
	width:100%;
	height: 30px;
	vertical-align: middle;
	padding-left:5px;
	padding-top: 5px;
	
	/* 색상 */
	background: rgb(207, 45, 57);
	background: -moz-linear-gradient(0deg, rgb(207, 45, 57) 100%, rgb(247, 255, 216) 100%);
	background: -webkit-linear-gradient(0deg, rgb(207, 45, 57) 100%, rgb(247, 255, 216) 100%);
	background: -o-linear-gradient(0deg, rgb(207, 45, 57) 100%, rgb(247, 255, 216) 100%);
	background: -ms-linear-gradient(0deg, rgb(207, 45, 57) 100%, rgb(247, 255, 216) 100%);
	background: linear-gradient(90deg, rgb(207, 45, 57) 100%, rgb(247, 255, 216) 100%);
	
	/*radius*/
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	
	/*shadow*/
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

