@CHARSET "UTF-8";

.body-content{
	width: 80%;
	margin-left: 150px;
	margin-right: 150px;
}
.body-detail{
	width: 1100px; 
	height: 1000px;
	max-height:1000px; 
	margin: auto; 
	margin-top: 50px;
}
@media screen and (max-width: 1024px) {
	.body-content{
		width: auto;
		margin: auto;
	}
	.body-detail{
		width: auto; 
		height: 1100px; 
		margin: auto; 
		margin-top: auto;
	}
	.floatForm {
		float: left;
		width: 43%;
		height: 700px;
		margin-left: auto;
		margin-left: 30px;
		margin-top: 20px;
	}
}

.float {
	float: left;
	margin-left: 40pt;
}

.floatForm {
	float: left;
	width: 43%;
	height: 700px;
	margin-left: auto;
	margin-left: 30px;
	margin-top: 20px;
}

.fontStyle {
	font-size: 7pt;
}

.boxSize {
	height: 30px;
}

.textMargin {
	margin: 0px;
}

.file_input_textbox {
	float: left;
}

.file_input_div {
	position: relative;
	width: 100px;
	height: 23px;
	overflow: hidden;
}

.file_input_hidden {
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
}

.buttonWhite {
	background-color: white;
	color: #cf2d39;
}

.buttonGray {
 	margin: 0px;
 	padding: 5px;
	font-size: 8pt;
}




