@CHARSET "UTF-8";
 
.searchBar {
	font-size: 11px;
	padding-left: 10px;
	width: 100%;
	height: 30px;
	border-radius: 3px;
	margin-bottom: 10px;
}
 
#listForm{
	overflow: auto;
	width: auto;
	height: 100%
}

.list{
	width: 190px;
	height: 250px;
	background-color: white;
	border: 1px solid #e5e5e5;
	font-size: 9pt;
	float: left;
	margin: 10px 6px;
	text-align: center;
	border-radius: 3px;
}

.listText{
	padding: 10px;
}

.X{
	background-color: #e5e5e5;
	text-align: center;
	font-size: 5pt;
	margin-bottom: 5px;
	cursor: pointer;
}
.titleFont{
	font-size: 15px !important;
}

.subTitle{
	font-size: 25px;
	color: #595959;
	margin-top: 50px;
	
}

.buttonStyle{
	padding: 3px;
	background-color: #d4424c;
	border-radius: 3px;
	width: 100%;
	font-size: 15px;
	margin-bottom: 21px;
}

.listHr{
	width: 60px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 60px;
}

.link{
	font-size: 8pt;
	margin: 0px;
}

.bar{
	font-size: 8pt;
	margin: 0px;
	color: #786f6f;
}

.blockquote{
	margin-bottom: 10px;
}

.mapPoint{
	font-size: 3pt;
	padding: 0px;
	background-color: #d4424c;
	border-color: #d4424c;
	border-radius: 3px;
} 

.hr-basic {
	border-top: 1px soild #e5e5e5; 
	width: 100%; 
	margin-top: 5px;
}

.infobox-resize {
	display: block;
	min-height: 90px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	margin: 15px;
	height: 280px;
}

.infoboxicon-resize {
	height: 100%;
}

body { margin: 0px; }
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {margin: 4px;height: 81px;background-color: #f2f2f2; padding: 7px; border-radius: 3px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}
.addBtnBox {
	cursor : pointer;
	color : #5085BB;
}

.bFont { font-weight: bold; }

.row-resize {
	margin: 5px 0px;
	float: left;
	width: 100%;
}

label { margin-left: 5px; }

.file-img {
	position: relative;
	width: 100%;
	height: 160px;
}
.fileDiv {
	padding: 0px 10px;
}
.fileBtn {
	position: relative;
	width: 100%;
	padding: 4px 0px;
	border-width: 0px;
	
}
.partData{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}