@CHARSET "UTF-8";
 
.searchBar {
	font-size: 11px;
	padding-left: 10px;
	width: 100%;
	height: 30px;
	border-radius: 3px;
	margin-bottom: 10px;
}
 
#listForm{
	overflow: auto;
	width: auto;
	height: 260px;
}

.list{

	width: 200px;
	height: 250px;
	background-color: white;
	border: 1px solid #e5e5e5;
	font-size: 9pt;
	float: left;
	margin-right: 50px;
	margin-bottom: 0px;
	text-align: center;
	border-radius: 3px;
}

.listText{
	padding: 10px;
}

.X{
	background-color: #e5e5e5;
	text-align: center;
	font-size: 5pt;
	margin-bottom: 5px;
	cursor: pointer;
}
.titleFont{
	font-size: 15px !important;
}

.subTitle{
	font-size: 25px;
	color: #595959;
	margin-top: 50px;
	
}

.buttonStyle{
	padding: 3px;
	background-color: #d4424c;
	border-radius: 3px;
	width: 100%;
	font-size: 15px;
}

.listHr{
	width: 60px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 60px;
}

.link{
	font-size: 8pt;
	margin: 0px;
}

.bar{
	font-size: 8pt;
	margin: 0px;
	color: #786f6f;
}

.blockquote{
	margin-bottom: 10px;
}

.mapPoint{
	font-size: 3pt;
	padding: 0px;
	background-color: #d4424c;
	border-color: #d4424c;
	border-radius: 3px;
} 

.hr-basic {
	border-top: 1px soild #e5e5e5; 
	width: 100%; 
	margin-top: 5px;
}

.infobox-resize {
	margin-left: 15px;
	height: 280px;
}
