<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);
</style>
<title>상담신청</title>
<link rel="stylesheet" type="text/css" href="../css/common.css">
<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script>
	$(document).ready(function() {
		// top 적용
		$('#top').load('top.html');
	});
</script>
</head>

<body>
	<!-- top -->
	<div id="top"></div>

	<!-- 본문 -->
	<div class="container documents font-new">
	
		<!-- 페이지 소개 -->
		<div class="example">
			<div class="row">
				<div class="col-md-12">
					<h3 class="font-new font-bold" id="typography">상담신청</h3>
				</div>
			</div>
		</div>

		<!-- 병원선택 -->
		<div class="example">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">병원선택</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<div class="input-group form-search">
										<input type="text" class="form-control search-query">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-warning" data-type="last" onclick="searchHos()">Search</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="hResult"></div>
							</div>
							<div class="row">
								<div class="col-sm-6 col-md-3">
									<div class="thumbnail" id="thumbnail-new">
										<div class="close-new"
											onclick="$(this).parent().parent().hide();">X</div>
										<img class="img-rounded" src="../images/Hospital1.jpg">
										<div class="caption">
											<h3>A 성형외과</h3>
											<p>서울시 관악구 신림동 1234-123</p>
											<div class="panel-footer-grade">
												<p></p>
											</div>
											<input type="hidden" name="email" value="kkokkodaek87@naver.com">
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="thumbnail" id="thumbnail-new">
										<div class="close-new"
											onclick="$(this).parent().parent().hide();">X</div>
										<img class="img-rounded" src="../images/Hospital2.jpg">
										<div class="caption">
											<h3>B 성형외과</h3>
											<p>서울시 강남구 도곡동 79-82</p>
											<div class="panel-footer-grade">
												<p></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-3">
									<div class="thumbnail" id="thumbnail-new">
										<div class="close-new"
											onclick="$(this).parent().parent().hide();">X</div>
										<img class="img-rounded" src="../images/Hospital3.jpg">
										<div class="caption">
											<h3>B 성형외과</h3>
											<p>서울시 은평구 불광동 151-15</p>
											<div class="panel-footer-grade">
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 부위 선택 -->
		<div class="example">
			<div class="row">
				<!-- 선택1 -->
				<div class="col-md-6">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">성형부위 선택 1</h3>
						</div>
						<div class="panel-body">
							<div class="row example-popover">
								<div class="col-md-6">
									<div class="popover top">
										<div class="arrow"></div>
										<h3 class="popover-title">FACE</h3>
										<div class="popover-content">눈<br>
											<input type="checkbox" id="flat-checkbox-1" value="쌍커풀" onclick="visibility('eye')">쌍커풀 
											<input type="checkbox" id="flat-checkbox-1" value="트임">트임 
											<input type="checkbox" id="flat-checkbox-1" value="눈매교정">눈매교정<br> 
											<input type="checkbox" id="flat-checkbox-1" value="안검하수">안검하수 
											<input type="checkbox" id="flat-checkbox-1" value="애교">애교 
											<input type="checkbox" id="flat-checkbox-1" value="기타">기타 
										</div>
										<div class="popover-content">코<br>
											<input type="checkbox" id="flat-checkbox-1" value="코" onclick="visibility('nose')">코
											<input type="checkbox" id="flat-checkbox-1" value="기타">기타 
										</div>
										<div class="popover-content">기타<br>
											<input type="checkbox" id="flat-checkbox-1" value="이마" onclick="visibility('forehead')">이마
											<input type="checkbox" id="flat-checkbox-1" value="광대">광대 
											<input type="checkbox" id="flat-checkbox-1" value="돌려깎기">돌려깎기 <br>
											<input type="checkbox" id="flat-checkbox-1" value="안면윤곽">안면윤곽
											<input type="checkbox" id="flat-checkbox-1" value="턱">턱 
											<input type="checkbox" id="flat-checkbox-1" value="양악">양악 
											<input type="checkbox" id="flat-checkbox-1" value="기타">기타 
										</div>
									</div>
								</div>
							</div>
							<div class="row example-popover">
								<div class="col-md-5">
									<div class="popover right">
										<div class="arrow"></div>
										<h3 class="popover-title">BODY</h3>
										<div class="popover-content">
											<input type="checkbox" id="flat-checkbox-1" value="가슴" onclick="visibility('forehead')">가슴
											<input type="checkbox" id="flat-checkbox-1" value="복부" onclick="visibility('forehead')">복부
											<input type="checkbox" id="flat-checkbox-1" value="엉덩이" onclick="visibility('forehead')">엉덩이<br>
											<input type="checkbox" id="flat-checkbox-1" value="종아리" onclick="visibility('forehead')">종아리
											<input type="checkbox" id="flat-checkbox-1" value="지방흡입" onclick="visibility('forehead')">지방흡입
										</div>
									</div>
								</div>
							</div>
							<div class="row example-popover">
								<div class="col-md-5">
									<div class="popover top">
										<div class="arrow"></div>
										<h3 class="popover-title">ETC</h3>
										<div class="popover-content"> 
											<input type="checkbox" id="flat-checkbox-1" value="쁘띠성형" onclick="visibility('forehead')">쁘띠성형
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 선택2 -->
				<div class="col-md-6">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">성형부위 선택 2</h3>
						</div>
						<div class="panel-body" id="choice-val">선택사항</div>
						<div class="panel-body">
							<h4>※하단 샘플이미지를 참조하여 사진을 첨부</h4>
							<div class="col-md-4 sample" id="sample-eye">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">눈</h3>
									</div>
									<div class="panel-body">
										<div class="file-div">
											<img class="file-img" src="../images/eyes.jpg">
										</div>
										<div style="position: relative;">
											<input type="file" name="file-upload"
												class="btn-block file-hidden" onchange="readURL(this);">
											<button type="button" class="btn btn-default btn-block">파일첨부</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 sample" id="sample-nose">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">코</h3>
									</div>
									<div class="panel-body">
										<div class="file-div">
											<img class="file-img" src="../images/nose.jpg">
										</div>
										<div style="position: relative;">
											<input type="file" name="file-upload"
												class="btn-block file-hidden">
											<button type="button" class="btn btn-default btn-block">파일첨부</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 sample" id="sample-forehead">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h3 class="panel-title">이마</h3>
									</div>
									<div class="panel-body">
										<div class="file-div">
											<img class="file-img" src="../images/forehead.jpg">
										</div>
										<div style="position: relative;">
											<input type="file" name="file-upload"
												class="btn-block file-hidden">
											<button type="button" class="btn btn-default btn-block">파일첨부</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 상담신청서 -->
		<div class="example">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">상담 신청서</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-4">
									<label for="exampleInputEmail1">이름</label> 
									<input type="text" class="form-control" id="exampleInputEmail1" name="name">
								</div>
								<div class="col-xs-4">
									<label for="exampleInputPassword1">나이</label> 
									<input type="text" class="form-control" id="exampleInputPassword1" name="age">
								</div>
								<div class="col-xs-4">
									<label for="exampleInputPassword1">연락처</label> 
									<input type="text" class="form-control" id="exampleInputPassword1" name="tel">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="exampleInputPassword1">시술법</label> 
									<input type="text" class="form-control" id="exampleInputPassword1" placeholder="매몰법" name="sway">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>상담내용</label>
									<textarea class="form-control" rows="3" placeholder="잘 부탁드립니다." id="conselContent"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3"></div>	
								<div class="col-md-3">
									<button type="button" class="btn btn-danger btn-block" onclick="sendMail()">신청</button>
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-default btn-block">취소</button>
								</div>
								<div class="col-md-3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 
<script>
	$(document).ready(function() {
		// 선택한 성형부위 나타나기
		$("input[type=checkbox]").change(function() {
			var html 	= "<span class='label label-default'>"+$(this).val()+"</span>";
			var addSway = $("input[name=sway]").val()  

			$("#choice-val").append(html);
			if(addSway == "") {
				$("input[name=sway]").val($(this).val());
			} else {
				$("input[name=sway]").val(addSway + ", " +$(this).val());
			}
	    });
	}); 
	
	//
	function visibility(portion) {
		$("#sample-"+portion).show();
	}
	
	function searchHos() {
		if($(".hResult").css("display") == "none") {
			$(".hResult").show();
		} else {
			$(".hResult").hide();
		}
	}
	
	// 상담신청서 메일발송
	function sendMail() {
		$.ajax({
			type: "POST",
			url: contextRoot + "/cosmetic/ajax/sendMail.do", 
			data: {  
				"name" : $("input[name=name]").val(),
				"age" : $("input[name=age]").val(),
				"tel" : $("input[name=tel]").val(),
				"sway" : $("input[name=sway]").val(),
				"content" : $("#conselContent").val(),
				"email" : $("input[name=email]").val()
			},
			dataType: "json",
			success: function() {
				alert("상담 신청서가 발송 되었습니다");
				window.location.reload();
			}
		});
	}
</script>
				
</body>
</html>