<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>MY PAGE - INFORMATION</title>
<link rel="stylesheet" href="../css/mylist.css" type="text/css">
<link rel="stylesheet" href="../css/needpopup.min.css">
<link rel="stylesheet" href="../lib/bootflat/css/site.min.css">
<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../js/common.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
	    $('#top').load('top.html');
	});

	function changeBorder(obj) {
		$(obj).css("border", "1px solid #cf2d39");
	};
	function close(obj) {
		$(obj).parent().css("display", "none");
	};
</script>
</head>

<body>
	<!-- 상단 -->
	<div id="top"></div>
	 
	<!-- 페이지 소개 -->
	<div class="title-container table-div">
		<div class="title"><hr></div>
		<div class="title text-center">MY PAGE - INFORMATION</div>
		<div class="title"><hr>	</div>
	</div>
    
    <!-- 본문 -->
	<div class="container documents">
		<div class="example">
			<div class="row">
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="close(this);">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
			</div> 
			<div class="row">
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
				
				<div class="col-md-3">
					<div class="alert alert-warning alert-dismissable" onclick="changeBorder(this);">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br /> 병원 및 의사 : 에이트
						성형외과<br /> 수술 가격 : 하트 주시면 정보 드릴게요!!<br> 수술 시기 : 11월 10일
					</div>
				</div> 
			</div>
			 
			<div class="row">
				<button type="button" class="btn btn-danger btn-block" data-needpopup-show="#modal-popup">비교하기</button>
			</div>
			
			<!-- '비교하기' 버튼 클릭시 나타나는 메시지 -->
			<div id="modal-popup" class="needpopup">
				<div class="panel panel-danger">
					<div class="panel-heading">비교하기</div>
					<table class="table">
						<thead>
							<tr>
								<th>구분</th>
								<th>쥬얼리 성형외과</th>
								<th>디에이 성형외과</th>
								<th>에이트 성형외과</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>위치</td>
								<td>강남</td>
								<td>수원</td>
								<td>울산</td>
							</tr>
							<tr>
								<td>의사</td>
								<td>배동호</td>
								<td>신민영</td>
								<td>김초롱</td>
							</tr>
							<tr>
								<td>수술 부위/방법</td>
								<td>비절개</td>
								<td>눈매교정</td>
								<td>코성형</td>
							</tr>
							<tr>
								<td>가격</td>
								<td>100만원</td>
								<td>150만원</td>
								<td>300만원</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../js/needpopup.min.js"></script>
	<script>
		needPopup.config.custom = {
			'removerPlace' : 'outside',
			'closeOnOutside' : false,
			onShow : function() {
				console.log('needPopup is shown');
			},
			onHide : function() {
				console.log('needPopup is hidden');
			}
		};
		needPopup.init();
	</script>
</body>
</html>
