<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src='../js/jquery.form.js' ></script>
<script type="text/javascript" src="../js/common.js"></script>
<script>
	$(document).ready(function() {
		// top 적용
		$('#top').load('top.html');
		
		
// 		$('#inputId').keyup(function(){
// 			console.log('키업 이벤트발생');
// 		});
	});
</script>
<style type="text/css">
	body 	 { margin: 0px; }
	.dash 	 { text-align: center; height: 37px; line-height: 37px; width: 10px; padding: 0px; }
	.btn-new { background-color: #ffffff; color: #cf2d39; border: 1px solid #cccccc; float: right; }
	.legend  { padding-bottom: 10px; font-size: 35px; }
	span, legend { color: #cf2d39; }
</style>
</head>

<body>
	<!-- top -->
	<div id="top"></div>

	<div class="container">
		<div style="margin-top: 50px; text-align: center;">
			<img src="..\images\회원가입로고.png" />
		</div>
		<div style="width: 700px; height: auto; margin: 0 auto; margin-top: 50px;">
			<form class="form-horizontal" method="POST" name="joinForm" id="joinForm">
				<fieldset>
					<legend class="legend">Join a Member</legend>
					<div class="form-group">
						<label for="inputId" class="col-lg-2 control-label">
							<span>*</span>ID
						</label>
						<div class="col-lg-10">
							<div class="input-group">
								<input type="text" class="form-control" name="id"> 
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="idCheck">ID 중복체크</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" style="display: none;">
						<label class="col-lg-2 control-label"></label>
						<div class="col-lg-10" id="idCheckText"></div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-lg-2 control-label">
							<span>*</span>Password
						</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="inputPassword" name="pwd">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-lg-2 control-label">
							<span>*</span>Password Check
						</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="inputPassword" name="pwd2" placeholder="비밀번호 확인">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">
							<span>*</span>Name
						</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputEmail" name="name" required>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">E-mail</label>
						<div class="col-lg-10">
							<input type="email" class="form-control" name="email" > 
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">
							<span>*</span>Gender
						</label>
						<div class="col-lg-2">
							<input type="radio" id="optionsRadios1" value="male" name="gender" checked>　Male
						</div>
						<div class="col-lg-2">
							<input type="radio" id="optionsRadios1" value="female" name="gender">　Female
						</div>
					</div>
					<div class="form-group">
						<label for="select" class="col-lg-2 control-label">
							<span>*</span>Date Of Birth</label>
						<div class="col-lg-10">
							<input type="date" class="form-control" name="birth" required>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Phone</label>
						<div class="col-lg-2">
							<select class="form-control" name="tel1" id="tel1">
								<option value="010">010</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-1 dash">─</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" name="tel2"> 
						</div>
						<div class="col-lg-1 dash">─</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" name="tel3"> 
						</div>
						<div>
							<input type="hidden" name="tel"> 
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-lg-12">
							<a href="javascript:void(0);" class="btn btn-new" id="joinBtn">Join</a>
							<a href="#" class="btn btn-new" style="margin: 0px 10px;">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>	
<script type="text/javascript">
	var idChk = "";
	
	// 아이디 중복체크
	$("#idCheck").click(function() {
		$.getJSON(contextRoot + "/cosmetic/ajax/idCheck.do", { "id" : $('input[name=id]').val() }, function(resultObj) {
				idChk = resultObj.ajaxResult.data;
				$('#idCheckText').parent().show();
				
				if(idChk == '사용 가능한 ID 입니다.'){
					$('#idCheckText').css('color','green').text(idChk);
				}
				else{
					$('#idCheckText').css('color','red').text(idChk);
				}
		});
	});
	
	// 회원가입
	$("#joinBtn").click(function() {
		$("input[name=tel]").val($("#tel1 option:selected").val()+"-"+$("input[name=tel2]").val()+"-"+$("input[name=tel3]").val());
		
		if($("input[name=id]").val() == "") {
			alert("ID를 입력해 주세요.");
			joinForm.id.focus();
		} else if($("input[name=pwd]").val() == "") {
			alert("Password를 입력해 주세요.");
			joinForm.pwd.focus();
		} else if($("input[name=pwd2]").val() == "") {
			alert("Password를 확인해 주세요.");
			joinForm.pwd2.focus();
		} else if($("input[name=pwd]").val() != $("input[name=pwd2]").val()) {
			alert("Password가 일치하지 않습니다.");
			joinForm.pwd2.focus();
		} else if($("input[name=name]").val() == "") {
			alert("이름을 입력해 주세요.");
			joinForm.name.focus();
		} else if($("input[name=birth]").val() == "") {
			alert("생년월일을 입력해 주세요.");
			joinForm.birth.focus();
		} else if(idChk == "") {
			alert("ID 중복체크를 다시 확인해 주세요.");
		} else if(idChk == "사용 가능한 ID 입니다.") {
	        $("#joinForm").ajaxSubmit({
				type : "POST",
				url : contextRoot + "/cosmetic/ajax/join.do",
				dataType : "json",
				success : function(resultObj) {
					alert('회원가입이 완료되었습니다. 로그인 해주세요.');
					location.href = 'mainandreview.html';
				}
	        });	
		}
	});
</script>
</body>
</html>