<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<title>Insert title here</title>
	<link rel="stylesheet" href="../css/bootstrap_yeti.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/mainCustom.css" />
	<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
	<link rel="stylesheet" type="text/css" href="../css/header.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
	
	<script src="../js/jquery.menu-aim.js" type="text/javascript"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="../js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../js/isotope-docs.min.js" type="text/javascript"></script>
	<script src="../js/isotope.pkgd.js" type="text/javascript"></script>
	<script src="http://googledrive.com/host/0B-QKv6rUoIcGREtrRTljTlQ3OTg"></script><!-- ie10-viewport-bug-workaround.js -->
	<script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js -->

	<script type="text/javascript">

		$(document).ready(function() {	
			var container = document.querySelector('#masonry');
			var msnry = new Masonry(container,{
				itemSelector:'.item',
				columnWidth: 379,
 				percentPosition: true
				
			});
			
			imagesLoaded(container).on('progress', function() {
				  // layout Masonry after each image loads
				  msnry.layout();
			});
// 			var $item = new Masonry(container,{
// 				columnWidth: 369,
// 				itemSelector: '.item'
// 			});
// 			$item.reloadItems();
// 			$('#masonry').isotope({
// 				itemSelector:'.item',
// 				layoutMode:'masonry',
// 				percentPosition: true,
// 				masonry:{
// 					columnWidth: 360
// 				}
// 			});
			
			
			
			$(".item").draggable({ revert: "invalid" });
			
		});
		
	</script>
</head>
<body>

	<div id="bar"></div>			
	<div id="menu1">  
        <div class="menu"><a href="Counsel.html">상담신청</a></div>
        <div class="menu"><a href="user_review2.html">유저리뷰</a></div>
        <div class="menu">병원찾기</div> 
        <div style="width:60px; margin: 0 auto;"><img src="../images/logo.gif" width="60" /></div> 
        <div class="menu">문의하기</div>
        <div class="menu">고객센터</div>
        <div class="menu">로그인</div> 
    </div>
     
    <div style="width: 100%;"> 
        <h5 style="text-align: center;">BE A BEAUTIFUL GIRL</h5>
        <h1 style="text-align: center;"><a href="mainandreview.html">SECOND LIFE</a></h1>
        </div>  
    </div> 

  	<div id="body-all">
  	<div id="body-contents">
  	
  	<div class="selectBar">
		<div class="selectBarItem-1">
        	<a href="../view/mainandreview.html">USER REVIEW</a>
        </div>
        <div class="selectBarItem-2">
        	<a href="../view/mainandhospital.html">EVENT</a>
        </div>
  	</div>
  	
  	<!-- masonry -->
	<div id="masonry">
		<div id="columns">
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event1.jpg" /></a>
				<figcaption>
					<div class="hReview"><a data-target="#layerpop" data-toggle="modal" href="#layerpop><img src="../images/Hospital1.jpg" width="50" height="50" /><span>오 성형외과</span></a></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event2.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>지 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event3.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital3.jpg" width="50" height="50" /><span>고 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event4.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>또 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event5.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>오 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event6.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital3.jpg" width="50" height="50" /><span>졌 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event7.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>다 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event8.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>인 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event9.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital3.jpg" width="50" height="50" /><span>정 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event10.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>? 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event11.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>굳 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event11.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>굳 성형외과</span></div>
					<hr />
					<div class="footer">
						<div class="hRecom"><img src="../images/good_icon.png" width="30" height="28" alt="" />0</div>
						<div class="hWish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
					</div>
				</figcaption>
			</figure>
		</div>
		
		</div>
	</div>
	<!-- masonry end-->
	<div class="modal" id="layerpop">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&close;</button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body…</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	
<!-- 	<div id="popup1" class="overlay"> -->
<!-- 	<div class="popup"> -->
<!-- 		<h2>오 성형외과</h2> -->
<!-- 		<a class="close" href="#">&times;</a> -->
<!-- 		<div class="hospital-Content"> -->
<!-- 			<div class="hospital-Img"><img src="../images/Hospital1.jpg" width="150" height="200" /></div> -->
<!-- 			<div class="hospital-Info"> -->
<!-- 				<div class="list-group" style="width: 700px"> -->
<!-- 				  <a href="#" class="list-group-item active"> -->
<!-- 				   주소 : 서울특별시 관악구 신림동 1234-123 -->
<!-- 				  </a> -->
<!-- 				  <br /> -->
<!-- 				  <a href="#" class="list-group-item active"> -->
<!-- 				   TEL : 02-1234-1234 -->
<!-- 				  </a> -->
<!-- 				  <br /> -->
<!-- 				  <a href="#" class="list-group-item active"> -->
<!-- 				   성형가능부위 : 눈, 양악, 돌려깎기 -->
<!-- 				  </a> -->
<!-- 				  <br /> -->
<!-- 				</div> -->
<!-- 			</div> -->
			  
<!-- 		</div> -->
		
<!-- 		<div class="doctor-Content"> -->
<!-- 			<div class="doctor-Img"><img src="../images/doctor.png" width="150" height="200" /></div> -->
<!-- 			<div class="doctor-Info"> -->
<!-- 				<div class="list-group" style="width: 700px"> -->
<!-- 				  <a href="#" class="list-group-item active"> -->
<!-- 				   양악 전문의 배동호 -->
<!-- 				  </a> -->
<!-- 				  <br /> -->
<!-- 				  <a href="#" class="list-group-item active"> -->
<!-- 				   비트컴퓨터학원 출신 -->
<!-- 				  </a> -->
<!-- 				  <br /> -->
<!-- 				  <a href="#" class="list-group-item active"> -->
<!-- 				   26년의 화려한 경력 -->
<!-- 				  </a> -->
<!-- 				  <br /> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	</div> -->
	
	
	</div>
	<div id="body-right">
	  <h1 class="ui-widget-header">Hospital Wish Items</h1>
	  <div class="ui-widget-content">
	    <ol>
      		<li class="placeholder">Add your items here</li>
    	</ol>
  	</div>
   </div>
	
	</div>
	
</body>
</html>