<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon" href="/second-life/icon/shortcut/favicon.ico">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<style>
	.starOpa {
		opacity: 0.4;
	}
	@media screen and (max-width:1024px) {
      #columns {
      	width: 800px !important;
      }
      .h3, h3 {
		font-size: 17px !important;
	  }
    }
   }
   
   #main-menu .nav-bar { list-style:none; margin-top: 40px; }
   #main-menu .nav-bar li { display:inline; padding:0 10px; }
	
   #main-menu .nav-bar li a.sortMenu {
	  text-decoration: none;
	  padding-left: 0px;
	  text-transform: uppercase;
	  color: #333;
	  text-shadow: 1px 1px 1px #ccc;
	}
	.sortIcon{
		margin-bottom: 5px;
	}
	

/* Icons courtesy of Thom : http://pixelb.in/assorted-pixel-perfect-14px-icon-set-286/ */
</style>
	<link rel="stylesheet" type="text/css" href="../css/mainCustom.css" />
	<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
	<!-- Bootflat css  -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/bootstrap_yeti.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-dialog.css" />
	
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
	
	<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jQuery 최신버전 -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script src="../js/jquery.menu-aim.js" type="text/javascript"></script>
	<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<!-- 	<script src="../js/isotope-docs.min.js" type="text/javascript"></script> -->
<!-- 	<script src="../js/isotope.pkgd.js" type="text/javascript"></script> -->
	<script src="../js/masonry-docs.min.js" type="text/javascript"></script>
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script> <!-- marsonry -->
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/bootstrap-dialog.js"></script>
	
	
	<script type="text/javascript">
		var wordType = '';
		var pageIdx = 2;
		$(document).ready(function() {	
			var container = document.querySelector('#masonry');
		});
		
		$(window).load(function() {
			
		
			var container = document.querySelector('#columns');
			$('#columns').masonry({
				itemSelector:'.item',
				columnWidth: 290,
 				percentPosition: true
			});
			$('#columns').imagesLoaded(function() {
				
			});
			
			
			/* 찜하기 함수  */
			/*
			$('.starOpa').click(function() {
				
				var x = '<img class="x" alt="" src="../images/X.png" width="15px" height="15px">';
				if($(this).css("opacity") == 0.4){
					$(this).css({opacity: "1.0"});
					$("#zzim").append($(".item .review1").clone()
							  .css({width: "100px", height: "100px"})).append(x);
				}
				else if($(this).css("opacity") == 1.0){
					alert("이미 찜한 후기입니다.");
				}
				
				$(".review1").hover(function () {
					$("#zzim .review1").css({opacity: "0.4"});
					
				}, function () {
					$("#zzim .review1").css({opacity: "1.0"});
				});
				
				$(".x").click(function () {
					$("#zzim .review1").remove();
					$(".x").remove();
					$(".starOpa").css("opacity", "0.4");
				});
				return false;
			});
		});
			/*
			var msnry = new Masonry(container,{
				itemSelector:'.item',
				columnWidth: 379,
 				percentPosition: true
				return false;
			});
			*/
			
		});
		
		$(document).ready(function() {	
			$('#top').load('top.html').trigger('pagecreate');
			
			$.getJSON(contextRoot + '/cosmetic/ajax/mainReview.do',function(resultObj){
				member = resultObj.ajaxResult.data;
				
				if(member != null){
					$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
					$('.changeValue2').hide();
					$('#mypage').show();
					$('#mypage > a').html('HELLO ' + resultObj.ajaxResult.data.id);
					$('#mypage > a').append('<span class="caret"></span>');
				}
				
				for(var list of resultObj.reviewList){
					var beforePath = '';
					var afterPath = '';
					
					var index = 1;
					for(var photoList of list.reviewPhoto){
						if(index ==1){
							beforePath += photoList.filePath;
						}
						else{
							afterPath += photoList.filePath;
						}
						index++;
					}
					var div = '<div class="item">';	
						div +=	'<figure>';
						div +=	'<a class="detailLnk" href="#"><img src="' + afterPath + '" reviewNo="' + list.reviewNo + '" /></a>									';
						div +=	'<figcaption>																														';
						div +=	'				<div class="review">'+ list.title +'</div>                                      ';
						div +=	'				<hr />                                                                                                              ';
						div +=	'				<div class="footers">                                                                                               ';
						div +=	'					<div class="row">                                                                                               ';
						div +=	'					  <div class="col-xs-12 col-md-8">                                                                              ';
						div +=	'					  	<div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />'+list.viewCnt+'</div>';
						div +=	'						<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />'+list.recomCnt+'</div>';
						div +=	'					  </div>                                                                                                        ';
						div +=	'					  <div class="col-xs-6 col-md-4">                                                                               ';
						div +=	'					  	<div class="wish"><button type="button" class="btn btn-danger" onclick="clickWishLnk('+list.reviewNo+')">찜</button></div>';   //<a class="wishLnk" href="#"><img id="s_'+list.reviewNo+'" src="../images/star.png" width="30" height="28"  />
						div +=	'					  </div>                                                                                                        ';
						div +=	'					</div>                                                                                                          ';
						div +=	'				</div>                                                                                                              ';
						div +=	'			</figcaption>                                                                                                           ';
						div +=	'		</figure>                                                                                                                   ';
						div +=	'	</div>                                                                                                                          ';
						
						var $elem = $(div);
						
						$('#columns').append($elem).masonry('appended',$elem);
						
						$('#columns').imagesLoaded(function() {
							$('#columns').masonry();
						});
						$('a.detailLnk').click(clickDetailLnk);
				}
						//$('a.wishLnk').click(clickWishLnk);
			});
			
			$(window).scroll(function() {
				var scrollHeight=$(window).scrollTop()+$(window).height();
				var documentHeight = $(document).height();
				
				if(scrollHeight==documentHeight){
					$.getJSON(contextRoot + '/cosmetic/ajax/mainReview.do?pageNo='+pageIdx, function(resultObj) {
						if(resultObj.reviewList.length != 0) pageIdx++;
						for(var list of resultObj.reviewList){
							
							var beforePath = '';
							var afterPath = '';
								
							var index = 1;
							for(var photoList of list.reviewPhoto){
								if(index ==1){
									beforePath += photoList.filePath;
								}
								else{
									afterPath += photoList.filePath;
								}
								index++;
							}
							
							var div = '<div class="item">';	
								div +=	'<figure>';
								div +=	'<a class="detailLnk" href="#"><img src="' + afterPath + '" reviewNo="' + list.reviewNo + '" /></a>									';
								div +=	'<figcaption>																														';
								div +=	'				<div class="review">'+ list.title +'</div>                                      ';
								div +=	'				<hr />                                                                                                              ';
								div +=	'				<div class="footers">                                                                                               ';
								div +=	'					<div class="row">                                                                                               ';
								div +=	'					  <div class="col-xs-12 col-md-8">                                                                              ';
								div +=	'					  	<div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />'+list.viewCnt+'</div>           ';
								div +=	'						<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />'+list.recomCnt+'</div>               ';
								div +=	'					  </div>                                                                                                        ';
								div +=	'					  <div class="col-xs-6 col-md-4">                                                                               ';
								div +=	'					  	<div class="wish"><button type="button" class="btn btn-danger" onclick="clickWishLnk('+list.reviewNo+')">찜</button></div>';
								div +=	'					  </div>                                                                                                        ';
								div +=	'					</div>                                                                                                          ';
								div +=	'				</div>                                                                                                              ';
								div +=	'			</figcaption>                                                                                                           ';
								div +=	'		</figure>                                                                                                                   ';
								div +=	'	</div>';
								
								// 추가할 엘리먼트 jquery 객체화
								var $elem = $(div);
								// masonry 추가
						    	$('#columns').append($elem).masonry('appended',$elem);
						    	// 추가되고 다시 재배치 해줌
						    	$('#columns').imagesLoaded(function() {
									$('#columns').masonry();
								});
						    	// 다시 리로드
						    	$('#columns').masonry();
						    	$('a.detailLnk').click(clickDetailLnk);
						    	
						    	// 여러번 이벤트 발생되는것을 방지하기위해 off로 이벤트 해제
						    	//$('a.wishLnk').off('click');
						    	//$('a.wishLnk').click(clickWishLnk);
						}
					});
					
					
				}
			});
			
		});
		
		function searchReviewSort(word) {
			$.getJSON(contextRoot + '/cosmetic/ajax/setWordType.do?wordType='+word,function(resultObj){
				window.location.reload();
			});
		}
	</script>
</head>
<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	
  	
  	<div id="body-all">
  	<div id="body-contents">
  	
  	<div class="row">
			<h1 style="margin-top: 50px; color: #cf2d39; font-weight: bold;">USER REVIEW</h1>
			<hr>
	</div>
  	<div class="row">
		<nav id="main-menu">
		     <ul class="nav-bar">
		          <li class="nav-button-new">
		          <img class="sortIcon" src="../icon/batch-master/16x16/clock.png">
		          	<a class="sortMenu" href="#" onclick="searchReviewSort('new'); return false;">최신순</a>
		          </li>
		          <li class="nav-button-viewCnt">
			          <img class="sortIcon" src="../icon/batch-master/16x16/eye.png">
			          <a class="sortMenu" href="#" onclick="searchReviewSort('viewCount'); return false;">조회순</a>
		          </li>
		          <li class="nav-button-recomCnt">
		          	<img class="sortIcon" src="../icon/batch-master/16x16/heart-full.png">
		          	<a class="sortMenu" href="#" onclick="searchReviewSort('recomCount'); return false;">추천순</a>
		          </li>
		     </ul>
		</nav>
	</div>
	<div id="masonry">
		<div id="columns">
		</div><!-- columns end -->
	</div>
	
  	</div>
	</div>
	
	<!-- 
	<div id="body-right">
	  <h3 class="ui-widget-header">Review Wish list</h3>
	  <div class="ui-widget-content">
		<div id="zzim">
    	</div>
  	  </div>
   </div>
	 -->
	
	<div class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color: #cf2d39;">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body…</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
<script type="text/javascript">
	
	
	$(".starClick").click(function() {
        if($(this).css("opacity") == "0.4") {
           $(this).css("opacity", "1.0");
        } else {
           $(this).css("opacity", "0.4");
        }
     });
	
	function clickDetailLnk(event) {
		event.preventDefault();
		location.href = 'user_review2.html?reviewNo=' + $(event.target).attr('reviewNo');
	}
	function clickWishLnk(reviewNo) {
		event.preventDefault();
		var flag = false;
		
		// Ajax는 요청 수신이 완료될때까지 기다리지않고 다른 작업을 수행 한다.
		// 그렇게되면 전역변수 flag값을 변경해줄수 없기때문에 async(비동기적처리) 속성을 false로 설정하여 데이터 수신이 완료된 후 작업을 진행시켜준다.
		$.ajax({
			url : contextRoot + '/cosmetic/ajax/loginCheck.do',
			type : 'GET',
			dataType : 'json',
			async : false
			
		}).done(function(resultObj) {
			var ajaxResult = resultObj.ajaxResult;
			var member = ajaxResult.data;
			
			if(member != null){
				console.log(member.id);
			}
			flag = true;
		}).fail(function(error) {
			
			BootstrapDialog.show({
			    title: 'Error',
			    message: '로그인 후 이용가능합니다.',
			    buttons: [{
			        id: 'btn-ok',   
			        icon: 'glyphicon glyphicon-check',       
			        label: 'OK',
			        cssClass: 'btn-danger', 
			        autospin: false,
			        action: function(dialogRef){    
			            dialogRef.close();
			            window.location.href = "login.html";
			        }
			    }]
			});
					
		});
		
		if(flag == true){
			
			$.get(contextRoot + '/cosmetic/ajax/wishAdd.do?reviewNo='+reviewNo,function(resultObj){
				var ajaxResult = resultObj.ajaxResult;
				var status = ajaxResult.status;
				if(status == 'success'){
					alert('위시리스트에 추가되었습니다.');
				}
				else{
					alert('이미 위시리스트에 있습니다.');
				}
			},'json');
			
		}
	}
	
</script>
</body>
</html>