<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon" href="/second-life/icon/shortcut/favicon.ico">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<style>
	.starOpa {
		opacity: 0.4;
	}
	@media screen and (max-width:1024px) {
      #columns {
      	width: 800px !important;
      }
      .h3, h3 {
		font-size: 17px !important ;
	  }
    }
</style>
<!-- 	<link rel="stylesheet" href="../css/bootstrap_yeti.css" type="text/css"> -->
	<link rel="stylesheet" type="text/css" href="../css/mainCustom.css" />
	<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
	<!-- Bootflat css  -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
	
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
	
	<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jQuery 최신버전 -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script src="../js/jquery.menu-aim.js" type="text/javascript"></script>
	<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<!-- 	<script src="../js/isotope-docs.min.js" type="text/javascript"></script> -->
<!-- 	<script src="../js/isotope.pkgd.js" type="text/javascript"></script> -->
	<script src="../js/masonry-docs.min.js" type="text/javascript"></script>
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script> <!-- marsonry -->
	<script src="../js/common.js" type="text/javascript"></script>
	
	
	<script type="text/javascript">
		var pageIdx = 2;
		$(document).ready(function() {	
			var container = document.querySelector('#masonry');

			/* 찜하기 함수  */
			$(".starOpa").click(function() {
				var x = '<img class="x" alt="" src="../images/X.png" width="15px" height="15px">';
				if($(this).css("opacity") == 0.4){
					$(this).css({opacity: "1.0"});
					$("#zzim").append($(".item .review1").clone()
							  .css({width: "100px", height: "100px"})).append(x);
				}
				else if($(this).css("opacity") == 1.0){
					alert("이미 찜한 후기입니다.");
				}
				
				$(".review1").hover(function () {
					$("#zzim .review1").css({opacity: "0.4"});
					
				}, function () {
					$("#zzim .review1").css({opacity: "1.0"});
				});
				
				$(".x").click(function () {
					$("#zzim .review1").remove();
					$(".x").remove();
					$(".starOpa").css("opacity", "0.4");
				});
				
			});
		});
			/*
			var msnry = new Masonry(container,{
				itemSelector:'.item',
				columnWidth: 379,
 				percentPosition: true
				
			});
			
			imagesLoaded(container).on('progress', function() {
				  msnry.layout();
			});
			*/
		
		$(window).load(function() {
			
		
			var container = document.querySelector('#columns');
			$('#columns').masonry({
				itemSelector:'.item',
				columnWidth: 378,
 				percentPosition: true
			});
			$('#columns').imagesLoaded(function() {
				
			});
		});
		
		$(document).ready(function() {	
			$('#top').load('top.html').trigger('pagecreate');
			$.getJSON(contextRoot + '/cosmetic/ajax/mainReview.do',function(resultObj){
				// 로그인 헤더 처리
				if(resultObj.member != null){
					$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
					$('.changeValue2').html('Hello '+ resultObj.member.id).attr('onclick','location.href="mylist.html"');
				}
				
				for(var list of resultObj.reviewList){
					var beforePath = '';
					var afterPath = '';
					
					var index = 1;
					for(var photoList of list.reviewPhoto){
						if(index ==1){
							beforePath += photoList.filePath;
						}
						else{
							afterPath += photoList.filePath;
						}
						index++;
					}
					
					var div = '<div class="item">';	
						div +=	'<figure>';
						div +=	'<a class="detailLnk" href="#"><img src="' + afterPath + '" reviewNo="' + list.reviewNo + '" /></a>									';
						div +=	'<figcaption>																														';
						div +=	'				<a class="detailLnk" href="#" reviewNo="' + list.reviewNo + '"><div class="review">'+ list.content +'</div>                                      ';
						div +=	'				<hr />                                                                                                              ';
						div +=	'				<div class="footers">                                                                                               ';
						div +=	'					<div class="row">                                                                                               ';
						div +=	'					  <div class="col-xs-12 col-md-8">                                                                              ';
						div +=	'					  	<div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />'+list.viewCnt+'</div>           ';
						div +=	'						<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>               ';
						div +=	'					  </div>                                                                                                        ';
						div +=	'					  <div class="col-xs-6 col-md-4">                                                                               ';
						div +=	'					  	<div class="wish"><img class="starOpa" src="../images/star.png" width="30" height="28"  /></div>          ';
						div +=	'					  </div>                                                                                                        ';
						div +=	'					</div>                                                                                                          ';
						div +=	'				</div>                                                                                                              ';
						div +=	'			</figcaption>                                                                                                           ';
						div +=	'		</figure>                                                                                                                   ';
						div +=	'	</div>                                                                                                                          ';
						
						var $elem = $(div);
						
						$('#columns').append($elem).masonry('appended',$elem);
						
						$('#columns').imagesLoaded(function() {
							$('#columns').masonry();
						});
						
						$('a.detailLnk').click(clickDetailLnk);
				}
			});
			
			$(window).scroll(function() {
				var scrollHeight=$(window).scrollTop()+$(window).height();
				var documentHeight = $(document).height();
				
				if(scrollHeight==documentHeight){
					$.getJSON(contextRoot + '/cosmetic/ajax/mainReview.do?pageNo='+pageIdx, function(resultObj) {
						for(var list of resultObj.reviewList){
							if(resultObj.reviewList.length != 0) pageIdx++;
							
							var beforePath = '';
							var afterPath = '';
								
							for(var photoList of list.reviewPhoto){
								var index = 1;
								if(index ==1){
									beforePath += photoList.filePath;
								}
								else{
									afterPath += photoList.filePath;
								}
								index++;
							}
								
							var div = '<div class="item">';	
								div +=	'<figure>';
								div +=	'<a class="detailLnk" href="#"><img src="' + beforePath + '" reviewNo="' + list.reviewNo + '" /></a>									';
								div +=	'<figcaption>																														';
								div +=	'				<a class="detailLnk" href="#" reviewNo="' + list.reviewNo + '"><div class="review">'+ list.content +'</div>                                      ';
								div +=	'				<hr />                                                                                                              ';
								div +=	'				<div class="footers">                                                                                               ';
								div +=	'					<div class="row">                                                                                               ';
								div +=	'					  <div class="col-xs-12 col-md-8">                                                                              ';
								div +=	'					  	<div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />'+list.viewCnt+'</div>           ';
								div +=	'						<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>               ';
								div +=	'					  </div>                                                                                                        ';
								div +=	'					  <div class="col-xs-6 col-md-4">                                                                               ';
								div +=	'					  	<div class="wish"><img class="starOpa" src="../images/star.png" width="30" height="28"  /></div>          ';
								div +=	'					  </div>                                                                                                        ';
								div +=	'					</div>                                                                                                          ';
								div +=	'				</div>                                                                                                              ';
								div +=	'			</figcaption>                                                                                                           ';
								div +=	'		</figure>                                                                                                                   ';
								div +=	'	</div>';
								
								// 추가할 엘리먼트 jquery 객체화
								var $elem = $(div);
								// masonry 추가
						    	$('#columns').append($elem).masonry('appended',$elem);
						    	// 추가되고 다시 재배치 해줌
						    	$('#columns').imagesLoaded(function() {
									$('#columns').masonry();
								});
						    	// 다시 리로드
						    	$('#columns').masonry('reloadItems');
						    	
						    	$('a.detailLnk').click(clickDetailLnk);
						}
						
						
					});
					
					
				}
			});
			
		});
	</script>
</head>
<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	
  	
  	<div id="body-all">
  	<div id="body-contents">
  	
  	<div class="selectBar">
		<div class="selectBarItem-1">
        	<a href="../view/mainandreview.html">USER REVIEW</a>
        </div>
        <div class="selectBarItem-2">
        	<a href="../view/mainandhospital.html">EVENT</a>
        </div>
  	</div>
  	
	<div id="masonry">
		<div id="columns">
		</div><!-- columns end -->
	</div>
	
	</div>
	<div id="body-right">
	  <h3 class="ui-widget-header">Review Wish list</h3>
	  <div class="ui-widget-content">
		<div id="zzim">
    	</div>
  	  </div>
   </div>
	
	
	
	</div>
<script type="text/javascript">
	$(".starClick").click(function() {
        if($(this).css("opacity") == "0.4") {
           $(this).css("opacity", "1.0");
        } else {
           $(this).css("opacity", "0.4");
        }
     });
	
	function clickDetailLnk(event) {
		event.preventDefault();
		location.href = 'user_review2.html?reviewNo=' + $(event.target).attr('reviewNo');
	}
</script>
</body>
</html>




























