<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<title>Insert title here</title>
	
	<link rel="stylesheet" type="text/css" href="../css/mainCustom.css" />
	<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
	<!-- Bootflat css  -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<!--  	<link rel="stylesheet" href="../css/bootstrap_yeti.css" type="text/css" /> -->
	
	
	
	<!-- jQuery.js -->
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jQuery 최신버전 -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="../js/isotope-docs.min.js" type="text/javascript"></script>
	<script src="../js/isotope.pkgd.js" type="text/javascript"></script>
	
	
	<!-- bootstrap.min.js -->
	<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
	<!-- 모달창 관련 -->
	<script src="http://googledrive.com/host/0B-QKv6rUoIcGREtrRTljTlQ3OTg"></script><!-- ie10-viewport-bug-workaround.js -->
	<script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js -->
	
	<script type="text/javascript">
		$(window).load(function() {
			var container = document.querySelector('#columns');
			$('#columns').masonry({
				itemSelector:'.item',
				columnWidth: 378,
 				percentPosition: true
			});
			$('#columns').imagesLoaded(function() {
				
			});
		});
		$(document).ready(function() {
			$('#top').load('top.html').trigger('pagecreate');
			$(window).scroll(function() {
				var scrollHeight=$(window).scrollTop()+$(window).height();
				var documentHeight = $(document).height();
				console.log(scrollHeight);
				console.log(documentHeight);
				if(scrollHeight==documentHeight){
					for(var i=0; i<10; i++){
						var div = '<div class="item">	                                                                                        ';
							div +=	  '<figure>                                                                                                     ';
							div +=	  '<a href="user_review.html"><img src="../images/event11.jpg" /></a>                                           ';
							div +=	  '<figcaption>                                                                                                 ';
							div +=	  '<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>굳 성형외과</span></div>';
							div +=	  '<hr />                                                                                                       ';
							div +=	  '<div class="masonry-footer">                                                                                 ';
							div +=	  '<div class="row">                                                                                            ';
							div +=	  '<div class="col-xs-12 col-md-8">                                                                             ';
							div +=	  '<div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>            ';
							div +=	  '<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>                ';
							div +=	  '</div>                                                                                                       ';
							div +=	  '<div class="col-xs-6 col-md-4">                                                                              ';
							div +=	  '<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>                       ';
							div +=	  '</div>                                                                                                       ';
							div +=	  '</div>                                                                                                       ';
							div +=	  '</div>                                                                                                       ';
							div +=	  '</figcaption>                                                                                                ';
							div +=	  '</figure>                                                                                                    ';
							div +=	  '</div>                                                                                                       ';
						var $elem = $(div);
				    	$('#columns').append($elem).masonry('appended',$elem);
				    	$('#columns').masonry('reloadItems');
					}
				}
			});
		});
		
	</script>
	<style type="text/css">
		@media screen and (max-width:1024px) {
	      #columns {
	      	width: 800px !important;
	      }
	      .h3, h3 {
			font-size: 17px !important ;
		  }
	    }
	</style>
</head>
<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	

  	<div id="body-all">
  	<div id="body-contents">
  	
  	<div class="selectBar">
		<div class="selectBarItem-1">
        	<a href="../view/mainandreview.html">USER REVIEW</a>
        </div>
        <div class="selectBarItem-2">
        	<a href="../view/mainandhospital.html">EVENT</a>
        </div>
  	</div>
  	
  	<!-- masonry -->
	<div id="masonry">
		<div id="columns">
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event1.jpg" /></a>
				<figcaption>
					<div class="hReview"><a data-toggle="modal" data-target="#myModal" href="#myModal"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>오 성형외과</span></a></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event2.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>지 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event3.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital3.jpg" width="50" height="50" /><span>고 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event4.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>또 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event5.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>오 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event6.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital3.jpg" width="50" height="50" /><span>졌 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event7.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>다 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">
			<figure>
				<a href="user_review.html"><img src="../images/event8.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>인 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event9.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital3.jpg" width="50" height="50" /><span>정 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event10.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital1.jpg" width="50" height="50" /><span>? 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event11.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>굳 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		
		<div class="item">	
			<figure>
				<a href="user_review.html"><img src="../images/event11.jpg" /></a>
				<figcaption>
					<div class="hReview"><img src="../images/Hospital2.jpg" width="50" height="50" /><span>굳 성형외과</span></div>
					<hr />
					<div class="masonry-footer">
						<div class="row">
						  <div class="col-xs-12 col-md-8">
						    <div class="viewCount"><img src="../images/조회수.png" width="30" height="28" alt="" />2531</div>
							<div class="recom"><img src="../images/추천수.png" width="30" height="28" alt="" />2442</div>
						  </div>
						  <div class="col-xs-6 col-md-4">
						  	<div class="wish"><img src="../images/star.png" width="30" height="28" alt="" /></div>
						  </div>
						</div>
					</div>
				</figcaption>
			</figure>
		</div>
		
		</div>
	</div>
	<!-- masonry end-->	
	
	
	</div>
	<!-- body-content end -->
	
	
	<div id="body-right">
	  <h3 class="ui-widget-header">Hospital Wish Items</h3>
	  <div class="ui-widget-content">
	    <ol>
      		<li class="placeholder">Add your items here</li>
    	</ol>
  	</div>
   </div>
	
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">오 성형외과</h4>
	      </div>
	      
	      <div class="modal-body">
	      
	      	<div class="row">
			  <div class="col-sm-9" style="width: 100%;">
			    <h2>Hospital Information</h2>
			    <div class="row" style="margin-left: 15px;">
			    
			    <div class="col-md-9 col-md-push-3" style="width: 70%;">
					<address>
					  <strong>Oh Hospital, Inc.</strong><br>
					  서울시특별시 관악구 신림동 1234-123<br>
					  성형가능부위 : 눈, 양악, 돌려깎기<br>
					  <abbr title="Phone">TEL:</abbr> (02) 123-1234
					</address>					
			    </div>
  				<div class="col-md-3 col-md-pull-9" style="width: 30%; margin-left: 0px;">
			    	<img src="../images/Hospital1.jpg" class="img-thumbnail" width="170" height="230" />
				</div>
				
			    </div>
			  </div>
			</div>
			
			
	      	<div class="row">
			  <div class="col-sm-9" style="width: 100%;">
			    <h2>Doctor Information</h2>
			    <div class="row" style="margin-left: 15px;">
			    
			    <div class="col-md-9 col-md-push-3" style="width: 70%;">					
					<ul>
					  <li>양악 전문의 홍길동</li>
					  <li>비트컴퓨터학원출신</li>
					  <li>26년의 화려한 경력</li>
					</ul>
			    </div>
  				<div class="col-md-3 col-md-pull-9" style="width: 30%; margin-left: 0px;">
			    	<img src="../images/doctor.png" class="img-circle" width="130" height="150" />
				</div>
				
			    </div>
			  </div>
			</div>
	      	<div class="row" style="width: 90%; margin-left: 10px">
			  <div class="panel panel-danger">
	            <div class="panel-heading">
	              <h3 class="panel-title">Hospital Introduce</h3>
	            </div>
	            <div class="panel-body">
	            <blockquote>
	              <p>중저음의 달콤한 목소리의 의사선생님과 함께 고통없이 마취를!
	              	 양악 전문의 홍길동 선생님 한번 믿어보세요*^^*
	              	 
	              	 ****************************이번달 EVENT****************************
	              	 양악 + 쌍수 = 완전변신 프로그램 참여시
	              	 완전 새사람으로 태어날 수 있습니다.
	              </p>
				</blockquote>
	            </div>
	          </div>
			</div>
	        
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</body>
</html>