<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MY PAGE</title>     
<link rel="stylesheet" href="../css/my_page.css" type="text/css">
<style>@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);</style>  
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>   
<style>@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);</style>
<style> 
</style> 
</head>

<body>  
	<!-- top --> 
	<div id="bar"></div>			
	<div id="menu-bar">  
        <div class="menu">상담신청</div>
        <div class="menu">유저리뷰</div>
        <div class="menu">병원찾기</div> 
        <div id="menu-logo"><img src="../images/logo.gif" width="70px" height="60px"/></div> 
        <div class="menu menu-right">문의하기</div>
        <div class="menu menu-right">고객센터</div>
        <div class="menu menu-right">로그인</div> 
    </div>
     
    <div style="margin: 10px;"> 
        <h4 class="text-center">BE A BEAUTIFUL GIRL</h4>
        <h1 class="text-center">SECOND LIFE</h1>
    </div> 
    
    <!-- body_페이지 제목 -->  
	<div class="title-bar">
    	<div class="title"><hr/></div>
        <div class="title text-center">MY PAGE</div>
        <div class="title"><hr/></div>
    </div> 
    
    <!-- body -->
    <div class="container"> 
        <div class="circle">
        	<div class="circle-content1">MY LSIT</div>
            <div class="circle-content2">내가 찜한<br>그 모든 것<br>(유저후기, 병원정보)</div>
        </div>
        <div class="circle">
        	<div class="circle-content1">INFORMATION</div>
            <div class="circle-content2">내가 요청한<br>병원정보<br>모아보기</div>
        </div>
        <div class="circle">
        	<div class="circle-content1">COUNSELLING</div>
            <div class="circle-content2">내가<br>신청한<br>상담내역</div>
        </div>
        <div class="circle">
        	<div class="circle-content1">초롱씨</div>
            <div class="circle-content2">엎드리지<br>마세요</div>
        </div> 
    </div> 
</body>
</html>