<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/mylist.css" type="text/css">
<link rel="stylesheet" href="../css/needpopup.min.css">
<link rel="stylesheet" href="../lib/bootflat/css/site.min.css">
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap-dialog.css" />
<style type="text/css">
	.item{
		width: 250px;
	}
	.gigante{
		width: 350px;
		height: 280px;
	}
	@media (min-width: 1200px){
		.container{
			width: 1170px !important;
		}
	}
	
	@media (min-width: 992px){
		.container{
			width: 970px;
		}
	}
	
	@media (min-width: 768px){
		.container{
			width: 750px;
		}
	}
	
	.container, .container-fluid{
		padding-left: 15px !important;
		padding-left: 15px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
</style>

<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/masonry-docs.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script> <!-- marsonry -->
<script src="../js/common.js"></script>
<script src="../js/bootstrap-dialog.js"></script>

<script>
	$(window).load(function() {
		var container = document.querySelector('#columns');
		var $grid = $('#columns').masonry({
			itemSelector:'.item',
			columnWidth: 270,
			isAnimated: true
		});
		
		$('#columns').imagesLoaded(function() {
			$('#columns').masonry();
		});
		
		
		$.getJSON(contextRoot + '/cosmetic/ajax/searchReviewWish.do', function(resultObj) {
	    	
			var wishList = resultObj.reviewWish
			console.log(wishList);
			for(var wish of wishList){
				var beforePath = '';
				var afterPath = '';
				
				var index = 1;
				for(var photoList of wish.reviewPhoto){
					if(index ==1){
						beforePath += photoList.filePath;
					}
					else{
						afterPath += photoList.filePath;
					}
					index++;
				}
				var div = '<div class="item" id="w_'+wish.wishNo+'">                                                                   			  ';
					div +=	'		<div class="thumbnail" id="thumbnail-new">                                      							   ';
					div +=	'		<a class="detailLnk" href="#"><img class="img-rounded" reviewNo="'+wish.reviewNo+'" src="'+ afterPath +'"></a>';
					div +=	'		<div class="caption">                                                           								';
					div +=	'			<h3 class="title-mylist">'+wish.title+'</h3>                               									 ';
					div +=	'			<p lang="content-mylist">'+wish.memberId+'</p>                                   						';
					div +=	'			<p class="text-center icon-mylist">                                         							';
				    div +=      '     	   		<img src="../images/eye.png" width="15px" height="15px" />'+wish.viewCnt;
				    div +=      '          	<img src="../images/heart.png" width="15px" height="15px" /> 22534      ';
				    div +=      '          </p>                                                                       ';
					div +=	'			<p class="text-center">                                                     ';
					div +=	'				<a id="infoBtn" onclick="getInfo(' + wish.wishNo +','+wish.reviewNo+'); return false;" class="btn btn-warning">정보받기</a>                        ';
					div +=	'				<a id="deleteBtn" onclick="wishDel('+wish.wishNo+'); return false;" class="btn btn-danger">삭제</a>                             ';
					div +=	'			</p>                                                                        ';
					div +=	'		</div>                                                                          ';
					div +=	'		</div>                                                                          ';
					div +=	'	</div>                                                                              ';
					
					var $elem = $(div);
					
					$('#columns').append($elem).masonry('appended',$elem);
					
					$('#columns').imagesLoaded(function() {
						$('#columns').masonry();
					});
					$('a.detailLnk').click(clickDetailLnk);
			}             
		});
		
		
		
	});
	
	$(document).ready(function() {
	    $('#top').load('top.html').trigger('pagecreate');
	    
	    $.getJSON(contextRoot + '/cosmetic/ajax/loginCheck.do', function(resultObj) {
			var ajaxResult = resultObj.ajaxResult;
			var member = ajaxResult.data;
			if(member != null){
				$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
				$('.changeValue2').hide();
				$('#mypage').show();
				$('#mypage > a').html('HELLO ' + member.id);
				$('#mypage > a').append('<span class="caret"></span>');
			}
		}).error(function(error) {
			window.location.href='login.html';
		});
	    
	    
	    
	});
	
	function clickDetailLnk(event) {
		event.preventDefault();
		location.href = 'user_review2.html?reviewNo='+$(event.target).attr('reviewNo');
	}
	
	// 정보 받아오기
	function getInfo(wishNo,reviewNo) {
		$.getJSON(contextRoot+'/cosmetic/ajax/receiveSugeryInfo.do?wishNo='+wishNo+'&reviewNo=' + reviewNo,function(resultObj){
			if(resultObj.msg == "success"){
				BootstrapDialog.alert('수술정보에 추가되었습니다.');
			}
			else{
				BootstrapDialog.show({
				    title: 'Error',
				    message: '공유된 수술정보가 없습니다.' ,
				    buttons: [{
				        id: 'btn-ok',   
				        icon: 'glyphicon glyphicon-check',       
				        label: 'OK',
				        cssClass: 'btn-danger', 
				        autospin: false,
				        action: function(dialogRef){    
				            dialogRef.close();
				        }
				    }]
				});
			}
		});
		
	}
	// 위시 삭제
	function wishDel(wishNo) {
		//alert('위시삭제 성공');
		BootstrapDialog.confirm({
            title: 'Information',
            message: '위시 정보를 삭제 하시겠습니까?',
            type: BootstrapDialog.TYPE_PRIMARY, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'Cancel', // <-- Default value is 'Cancel',
            btnOKLabel: 'OK', // <-- Default value is 'OK',
            icon: 'glyphicon glyphicon-check',
            btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if(result) {
                	$.get(contextRoot + '/cosmetic/ajax/deleteWish.do?wishNo='+wishNo, function(resultObj) {
        				$('#columns').masonry('remove',$('#w_'+wishNo));
        				
        				$('#columns').imagesLoaded(function() {
        					$('#columns').masonry();
        				});
        			},'json');
                }
            }
        });
	
		
		/*
		var retVal = confirm('위시 정보를 삭제 하시겠습니까?');
		if(retVal == true){
			$.get(contextRoot + '/cosmetic/ajax/deleteWish.do?wishNo='+wishNo, function(resultObj) {
				$('#columns').masonry('remove',$('#w_'+wishNo));
				
				$('#columns').imagesLoaded(function() {
					$('#columns').masonry();
				});
			},'json');			
		}
		*/
		
	}
</script>
</head>

<body>
	<!-- 상단 -->
	<div id="top"></div>
	 
	<!-- 페이지 소개 -->
	<div class="title-container table-div">
		<div class="title"><hr></div>
		<div class="title text-center">MY PAGE</div>
		<div class="title"><hr>	</div>
	</div>
	
	<!-- 본문 -->
	<div class="container document">
		<div class="example">
			<div class="row">
				<div class="selectbar selectbar1" onclick="location.href='mylist.html'">USER REVIEW</div>
				<div class="selectbar selectbar2" onclick="location.href='mylist_event.html'">EVENT</div>
			</div>
		</div>
		
		<div class="example">
			<div class="row" id="info">
				<h1 class="info-text">I’M LOVIN’ IT!</h1>
		        <h3 class="info-text">YOUR FAVORITE USER REVIEW</h3>
		        <h4 class="info-text">마음에 드는 후기와<br>병원 정보들을 모아보고,<br>정보를 얻어 체계적인 상담 신청을  해보세요.</h4> 
			</div>
		</div>
		
		<div id="masonry">
			<div id="columns">
				<!--
				<div class="item">
					<div class="thumbnail" id="thumbnail-new">
						<img class="img-rounded" src="../images/after2.jpg">
						<div class="caption">
							<h3 class="title-mylist">쌍수한지 3달째</h3>
							<p lang="content-mylist">kkokkodaek87</p>
							<p class="text-center icon-mylist">
		               	   		<img src="../images/eye.png" width="15px" height="15px" /> 22534
		                    	<img src="../images/heart.png" width="15px" height="15px" /> 22534
		                    </p>
							<p class="text-center">
								<a href="#" class="btn btn-warning">정보받기</a>
								<a href="#" class="btn btn-danger">삭제</a>
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="thumbnail" id="thumbnail-new">
						<img class="img-rounded" src="../images/after2.jpg">
						<div class="caption">
							<h3 class="title-mylist">쌍수한지 3달째dfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfg</h3>
							<p lang="content-mylist">kkokkodaek87</p>
							<p class="text-center icon-mylist">
		               	   		<img src="../images/eye.png" width="15px" height="15px" /> 22534
		                    	<img src="../images/heart.png" width="15px" height="15px" /> 22534
		                    </p>
							<p class="text-center">
								<a href="#" class="btn btn-warning">정보받기</a>
								<a href="#" class="btn btn-danger">삭제</a>
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="thumbnail" id="thumbnail-new">
						<img class="img-rounded" src="../images/after2.jpg">
						<div class="caption">
							<h3 class="title-mylist">쌍수한지 3달째dfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfg</h3>
							<p lang="content-mylist">kkokkodaek87</p>
							<p class="text-center icon-mylist">
		               	   		<img src="../images/eye.png" width="15px" height="15px" /> 22534
		                    	<img src="../images/heart.png" width="15px" height="15px" /> 22534
		                    </p>
							<p class="text-center">
								<a href="#" class="btn btn-warning">정보받기</a>
								<a href="#" class="btn btn-danger">삭제</a>
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="thumbnail" id="thumbnail-new">
						<img class="img-rounded" src="../images/after2.jpg">
						<div class="caption">
							<h3 class="title-mylist">쌍수한지 3달째dfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfg</h3>
							<p lang="content-mylist">kkokkodaek87</p>
							<p class="text-center icon-mylist">
		               	   		<img src="../images/eye.png" width="15px" height="15px" /> 22534
		                    	<img src="../images/heart.png" width="15px" height="15px" /> 22534
		                    </p>
							<p class="text-center">
								<a href="#" class="btn btn-warning">정보받기</a>
								<a href="#" class="btn btn-danger">삭제</a>
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="thumbnail" id="thumbnail-new">
						<img class="img-rounded" src="../images/after2.jpg">
						<div class="caption">
							<h3 class="title-mylist">쌍수한지 3달째dfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfg</h3>
							<p lang="content-mylist">kkokkodaek87</p>
							<p class="text-center icon-mylist">
		               	   		<img src="../images/eye.png" width="15px" height="15px" /> 22534
		                    	<img src="../images/heart.png" width="15px" height="15px" /> 22534
		                    </p>
							<p class="text-center">
								<a href="#" class="btn btn-warning">정보받기</a>
								<a href="#" class="btn btn-danger">삭제</a>
							</p>
						</div>
					</div>
				</div>
				-->
				
			</div><!-- columns end -->
		</div>
		
			 
			<!-- '정보받기' 버튼 클릭시 나타나는 메시지 -->
			<div id="modal-popup" class="needpopup">
				<p>
					수술부위 및 방법 : 비절개 눈매교정, 뒤트임, 밑트임, 코성형, 퀵광대<br/>
					병원 및 의사 : 에이트 성형외과<br/>
					수술 가격 : 하트 주시면 정보 드릴게요!!<br>
					수술 시기 : 11월 10일
				</p>
			</div> 
		</div> 
	</div>

	<script src="../js/needpopup.min.js"></script>
	<script>  
		needPopup.config.custom = {
			'removerPlace': 'outside',
			'closeOnOutside': false,
			onShow: function() {
				console.log('needPopup is shown');
			},
			onHide: function() {
				console.log('needPopup is hidden');
			}
		};
		needPopup.init();
	</script>
</body>
</html>