<!DOCTYPE html>
<html>
<head>
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/header.css" />
<link rel="stylesheet" type="text/css" href="../css/mainCustom.css" />
<title>Insert title here</title>
<style type="text/css">
	.myPage-Content{
		background-color: #cf2d39;
		-webkit-border-radius: 90px;
		-moz-border-radius: 90px;
		border-radius: 90px;
	}
</style>
</head>
<body>
	<div id="bar"></div>			
	<div id="menu1">  
        <div class="menu"><a href="Counsel.html">상담신청</a></div>
        <div class="menu"><a href="user_review2.html">유저리뷰</a></div>
        <div class="menu">병원찾기</div> 
        <div style="width:60px; margin: 0 auto;"><img src="../images/logo.gif" width="60" /></div> 
        <div class="menu">문의하기</div>
        <div class="menu">고객센터</div>
        <div class="menu">로그인</div> 
    </div>
     
    <div style="width: 100%;"> 
        <h5 style="text-align: center;">BE A BEAUTIFUL GIRL</h5>
        <h1 style="text-align: center;"><a href="mainandreview.html">SECOND LIFE</a></h1>
        </div>  
    </div>
    
    <div id="body-all">
    	<div id="body-contents">
    		
    	</div>
    </div>
</body>
</html>