<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>QnAList</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
    <link rel="stylesheet" type="text/css" href="../css/QnA.css">
    
	<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js" type="text/javascript"></script>
</head>
<body>
<!-- 해더 -->
<div id="top"></div>

<!-- 내용 -->
<div class="bodyContent" style="margin-top: 70px;">
<h2 style="color: #cf2d39;">QnA</h2>
	<table style="width: 100%;" id="table">
		<tr class="tablePadding">
			<th class="thList" style="width: 5%;">번호</th>
			<th class="thList" style="width: 20%;">글목적</th>
			<th class="thList" style="width: 51%;">제목</th>
			<th class="thList" style="width: 12%;">글쓴이</th>
			<th class="thList" style="width: 12%;">등록일</th>
		</tr>
	</table>
	<div align="right">
	<button id="write" type="button" class="btn btn-danger button" 
			style="padding-left: 12px; padding-right: 12px;">Write</button>
	</div>
</div>
<script type="text/javascript">
//해더
$(document).ready(function() {
    $('#top').load('top.html');

    // id check
    $.getJSON(contextRoot + '/cosmetic/ajax/loginCheck.do', function(resultObj) {
        var ajaxResult = resultObj.ajaxResult;
        var member = ajaxResult.data;
        if(member != null){
           console.log(member.id);
           $('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
           $('.changeValue2').hide();
           $('#mypage').show();
           $('#mypage > a').html('HELLO ' + member.id);
           $('#mypage > a').append('<span class="caret"></span>');
        }
     }).error(function(error) {
        window.location.href='login.html';
     });
    
	// List 데이터 불러오기
	$.getJSON(contextRoot + "/cosmetic/ajax/listQnA.do", function (resultObj) {
		var member = resultObj.member;
	
		for(var list of resultObj.qnaList) {
			// 날짜 변환
	 		var formattedDate = new Date(list.regDate);
			var years = formattedDate.getFullYear();
			var months = formattedDate.getMonth() + 1;
			var days = formattedDate.getDate();
			var hours = formattedDate.getHours();
			var minutes = formattedDate.getMinutes();
			var regDate = years + '.' + months +'.'+ days + ' ' + hours + ':' + minutes;
				
			var html = '<tr class="tablePadding">'
			+ '<td class="tdList">'+ list.qNo +'</td>'
			+ '<td class="tdList">' + list.qPart + '</td>'
			+ '<td class="tdList"><a id="aLink" class="detailQnA" href="#" qno="'+ list.qNo +'">' + list.title + '</a></td>'
			+ '<td class="tdList">' + member.name + '</td>'
			+ '<td class="tdList">' + regDate + '</td>'
			+ '</tr>';
			
			$("#table").append(html);
			
			$("a.detailQnA").click(detail);
			
			}
	});
});

$("#write").on("click", function () {
	window.location.href = "QnARegist.html"
});

function detail(event) {
	event.preventDefault();
	location.href = 'QnADetail.html?qno=' + $(event.target).attr('qno');
}
</script>
</body>
</html>