<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<link rel="stylesheet" type="text/css" href="../css/reviewFormCss.css">

<script type="text/javascript" src="../lib/jquery/jquery.js"></script>
<script src="../lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="../lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="../lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<title>Review</title>
<script>
	$(document).ready(function() {
		$('#top').load('top.html').trigger('pagecreate');
	});
	
	function checkDisable(frm)
	{
	    if( frm.share.checked == true ){
		   frm.way.disabled = false;
		   frm.hsName.disabled = false;
		   frm.doctor.disabled = false;
		   frm.price.disabled = false;
		   frm.date.disabled = false;
		} 
	    else 
		{
		   frm.way.disabled = true;
		   frm.hsName.disabled = true;
		   frm.doctor.disabled = true;
		   frm.price.disabled = true;
		   frm.date.disabled = true;
		}
	}
	
function ckSubmit() {
		
		console.log(contextRoot);
		
		var checkBoxValues = [];
		
		$('#sugeryPart:checked').each(function(i) {
			checkBoxValues.push($(this).val());
		});
		
		var allData = {};
		
		if($('input:checkbox[id="status"]').is(':checked') == true){
			allData = {
					title : $('#title').val(),
					content : $('#content').val(),
					fileName : $('#fileName').val()
					
			};
		}else{
			allData = {
					memberNo : 1,
					title : $('#title').val(),
					content : $('#content').val(),
					fileName : $('#fileName')[0].files[0],
					sugeryPart : "눈,코",
					status : "1"
					
			};
			
		}
		console.log(allData);
		
		return false;
	}
	
	
</script>
<style type="text/css">
	.checkData{
		width: 70px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		font-size: 9pt;
	}
	.checkBox{
		padding-left: 15px; 
	}
	@media screen and (max-width: 1024px) {
		.floatForm {
			float: left;
			width: 380px;
			height: 700px;
			margin-left: auto;
			margin-left: 30px;
			margin-top: 20px;
		}
	}
	
	hr {
		border-width: 0.05px;
		border-style: solid;
	}
</style>
</head>
<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	
<div class="body-content">
	<div class="body-detail">
<form id="mForm" class="form-horizontal" enctype="multipart/form-data">
	<fieldset>
	    <legend><h3 style="color: #cf2d39;">Review</h3></legend>
	    <div class="float">
	    	<img src="..\images\reviewForm.png" width="450px">
	    </div>
	    <div class="floatForm">
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">제　　목</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control fontStyle" id="title" placeholder="Title">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="textArea" class="col-lg-2 control-label">후　　기</label>
	      <div class="col-lg-10">
	        <textarea class="form-control fontStyle" rows="8" id="content" placeholder="Review"></textarea>
	        <span class="help-block" style="font-size: 6pt; color: gray;">*자신의 변화에 대한 상세한 후기를 적어주세요.</span>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">사　　진</label>
	      <div class="col-lg-10">
	      <input type="text" class="file_input_textbox" readonly="readonly"/>
	      <div class="file_input_div">
	      <input type="file" id="ffile" name="files" class="fontStyle" multiple>
	      </div>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPassword" class="col-lg-2 control-label">수술 부위</label>
	      <div class="col-lg-10">
	      <div class="row checkBox">
	      	  <div class="col-md-1 checkData">
	      	  	<input id="sugeryPart" name="eyes" type="checkbox" />눈
	      	  </div>
			  <div class="col-md-1 checkData">
			  	<input id="sugeryPart" name="nose" type="checkbox">코
			  </div>
			  <div class="col-md-1 checkData">
				<input id="sugeryPart" name="chin" type="checkbox" />턱	
			  </div>
			  <div class="col-md-1 checkData">
				<input id="sugeryPart" name="cheekbone" type="checkbox" />광대
			  </div>
			  <div class="col-md-1 checkData">
				<input id="sugeryPart" name="outline" type="checkbox" />윤곽
			  </div>
			  <div class="col-md-1 checkData">
			  	<input id="sugeryPart" name="bimaxillary" type="checkbox" />양악
			  </div>
			  <div class="col-md-1 checkData">
			  	<input id="sugeryPart" name="breast" type="checkbox" />가슴
			  </div>
			  <div class="col-md-1 checkData">
			  	<input id="sugeryPart" name="liposuction" type="checkbox" />지방흡입
			  </div>
			  <div class="col-md-1 checkData">
			  	<input id="sugeryPart" name="injection" type="checkbox">쁘띠성형
			  </div>
	      </div>
			  <span class="help-block textMargin" style="font-size: 8pt; color: #cf2d39;"> *수술받은 부위를 체크해주세요.　(중복가능)</span>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">공유 여부</label>
	      <div class="col-lg-10" >
	        <div class="checkbox">
	            <div  style="margin-left: 20px;">
	            <input id="ckStatus" type="checkbox" checked="checked" name="share" 
	            	    onclick="checkDisable(this.form)">
	            </div>
				<span style="margin-left: 20px; font-size: 9pt;">당신의 성형 정보를 공유 하시겠습니까?</span>
	          <span class="help-block textMargin" style="font-size: 6pt; color: #cf2d39;"> *공유하지 않는다면, 다른 이용자들의 정보 요청 쪽지 세례를 받으실 수 있습니다.</span>
	        </div>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">수술 방법</label>
	      <div class="col-lg-10">
	        <input name="way" type="text" class="form-control boxSize" id="inputEmail"  style="font-size: 8pt;"  placeholder="체크한 수술의 수술 방법을 입력해주세요.　ex) 눈:매몰법, 코:매부리코">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">병원 이름</label>
	      <div class="col-lg-10">
	        <input name="hsName" type="text" class="form-control boxSize" id="inputEmail" style="font-size: 8pt;" placeholder="수술 받은 병원의 이름을 입력해주세요.">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">담당 의사</label>
	      <div class="col-lg-10">
	        <input name="doctor" type="text" class="form-control boxSize" id="inputEmail"  style="font-size: 8pt;"  placeholder="수술 받은 의사의 이름을 입력해주세요.">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">수술 비용</label>
	      <div class="col-lg-10">
	        <input name="price" type="text" class="form-control boxSize" id="inputEmail"  style="font-size: 8pt;"  placeholder="ex) 200만원">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">수술 시기</label>
	      <div class="col-lg-10">
	        <input name="date" type="text" class="form-control boxSize" id="inputEmail" style="font-size: 8pt;" placeholder="수술 받은 날짜를 입력해주세요.">
	      </div>
	    </div>
	    </div>
	</div>
		<hr>
	    <div class="form-group">
	    	<div class="modal-footer paddingZero" >
				<button type="button" id="cancelBtn" class="btn btn-default" data-dismiss="modal"
				style="background-color: white; color: #cf2d39;">Cancel</button>
				<button type="button" class="btn btn-primary" id="writeBtn"
				style="background-color: white; color: #cf2d39;">Write</button>
			</div>
		</div>
	</fieldset>
</form>
</div>
<script type="text/javascript">
$('#ffile').fileupload({
	url: contextRoot + '/cosmetic/ajax/reviewAdd.do',
	dataType: 'json',
	singleFileUploads: false, // 서버에 한 번만 요청을 보내라.
	add: function (e, data) {
    //data.context = $('<p/>').text('Uploading...').appendTo(document.body);
    console.log("파일을 추가하였음...");
    
    $('#writeBtn').click(function(event) {
    	  console.log("서버에 전송함...");
	    	data.formData = {
	    			memberNo: 1,
	    			title: $('#title').val(),
	    			content: $('#content').val(),
	    			sugeryPart : "눈,코",
					status : "0"
	    	};
     	data.submit();
    });
  },
  done: function (e, data) {
	  console.log(data.result.ajaxResult);
	  location.href = 'user_review_list.html';
  }
});
$('#cancelBtn').click(function() {
	location.href = 'user_review_list.html';
});

</script>
</body>
</html>