<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<link rel="stylesheet" type="text/css" href="../css/reviewFormCss.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap-dialog.css" />

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="../lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="../lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script> <!-- Bootstrap.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/bootstrap-dialog.js"></script>
<title>Review</title>
<style type="text/css">
	.checkData{
		width: 70px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		font-size: 9pt;
	}
	.checkBox{
		padding-left: 15px; 
	}
	@media screen and (max-width: 1024px) {
		.floatForm {
			float: left;
			width: 380px;
			height: 700px;
			margin-left: auto;
			margin-left: 30px;
			margin-top: 20px;
		}
	}
	.ffile{
		display: none !important; 
	}
	
	.input[name=price] { 
		-webkit-ime-mode:disabled !important; 
		-moz-ime-mode:disabled !important; 
		-ms-ime-mode:disabled !important; 
		ime-mode:disabled !important; 
	} 
</style>
<script>
$(document).ready(function() {
	$('#top').load('top.html').trigger('pagecreate');
	// review번호 채번
	var reviewNo = location.href.split('?')[1].split('=')[1];
	
	$.getJSON(contextRoot + '/cosmetic/ajax/loginCheck.do', function(resultObj) {
		var ajaxResult = resultObj.ajaxResult;
		var member = ajaxResult.data;
		if(member != null){
			console.log(member.id);
			$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
			$('.changeValue2').hide();
			$('#mypage').show();
			$('#mypage > a').html('HELLO ' + member.id);
			$('#mypage > a').append('<span class="caret"></span>');
		}
	}).error(function(error) {
		window.location.href='login.html';
	});
	
	$.getJSON(contextRoot + '/cosmetic/ajax/reviewListDetail.do?reviewNo='+reviewNo,function(resultObj){
		 var ajaxResult = resultObj.ajaxResult;
		 var reviewDetail = ajaxResult.data;
		 var review = reviewDetail.review;
		// 로그인 헤더 처리
		if(reviewDetail.member != null){
// 			$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
// 			$('.changeValue2').html('Hello '+ reviewDetail.member.id).removeAttr('onclick');
		}
		
		if(ajaxResult.status == 'success'){
			 $('#title').val(review.title);
			 $('#content').val(review.content);
			 if(review.status == '1'){
				 $('input:checkbox[id="ckStatus"]').attr('checked',true);
				 $('input[name="way"]').val(review.sugeryWay);
				 $('input[name="hsName"]').val(review.hospitalName);
				 $('input[name="doctor"]').val(review.doctorName);
				 $('input[name="price"]').val(review.sugeryPrice);
				 //$('input[type="date"]').val(review.sugeryDate.format('yyyy-MM-dd'));
			 }
			 else{
				 $('input:checkbox[id="ckStatus"]').attr('checked',false);
				 $('input[name="way"]').attr('disabled',true);
				 $('input[name="hsName"]').attr('disabled',true);
				 $('input[name="doctor"]').attr('disabled',true);
				 $('input[name="price"]').attr('disabled',true);
				 $('input[type="date"]').attr('disabled',true);
			 }
	    }
		 
	 }).error(function(error) {
			window.location.href='login.html';
	 });
	
	
	$('#updateBtn').click(function() {
		var ckIdx = 1;
		var sPart ='';
		var status='';
		var length = $('input:checkbox[name="sPartCk"]:checked').length;
		
	    $('input:checkbox[name="sPartCk"]').each(function() {
			if(this.checked){
				if(ckIdx == 1){
					sPart += this.value;
					ckIdx++;
				}
				else{
					sPart += ','+this.value;
					ckIdx++;
				}
			}
		});
	   
	    // 다중 파일 업로드를 위하여 FormData 사용
		var formData = new FormData();
	    
		if($('#title').val() == '' || $('#title').val() == null){
	    	BootstrapDialog.alert('제목을 입력해주세요.');
	    	$('#title').focus();
			return ;
	    }
	    else if($('#content').val() == ''|| $('#content').val() == null){
	    	BootstrapDialog.alert('내용을 입력해주세요.');
	    	$('#content').focus();
			return;	    	
	    }
	    else if(sPart == ''|| sPart == null){
	    	BootstrapDialog.alert('수술부위를 체크해주세요.');
			return;	    	
	    }
	    else if($('input[type="file"]')[0].files[0] == '' || $('input[type="file"]')[0].files[0] == null){
	    	BootstrapDialog.alert('파일을 업로드 해주세요.');
			return;
		}
	    else if($('input[type="file"]')[1].files[0] == ''||$('input[type="file"]')[1].files[0] == null){
	    	BootstrapDialog.alert('파일을 업로드 해주세요.');
			return;	    	
	    }
		
		// 키 값 다르게 줘야한다. 만약 그러지 않으면 첫번째 파일밖에 안읽어옴...
		formData.append('files1',$('input[type="file"]')[0].files[0]);
		formData.append('files2',$('input[type="file"]')[1].files[0]);
		formData.append('title',$('#title').val());
		formData.append('content',$('#content').val());
		formData.append('sugeryPart',sPart);
	    formData.append('reviewNo',reviewNo);
		
		// 수술정보 공유가 체크되어있다면...
		if($('input:checkbox[id="ckStatus"]').is(':checked')){
	    	status = '1';
	    	formData.append('hospitalName',$('input[name="hsName"]').val());
	    	formData.append('doctorName',$('input[name="doctor"]').val());
	    	formData.append('sugeryWay',$('input[name="way"]').val());
	    	formData.append('sugeryPrice',$('input[name="price"]').val());
	    	formData.append('sugeryDate',$('input[name="date"]').val());
	    }
	    else{
	    	status = '0';
	    }
		
		formData.append('status', status);
		
		$.ajax({
			url: contextRoot + '/cosmetic/ajax/reviewUpdate.do',
			type: 'POST',
			dataType : 'json',
			processData: false,
			contentType: false,
			data: formData
		}).done(function(resultObj,status,jqXHR) {
			console.log(resultObj.ajaxResult);
			location.href = 'user_review2.html?reviewNo='+reviewNo;
		});
	});
	
	$('#cancelBtn').click(function() {
		location.href = 'user_review2.html?reviewNo='+reviewNo;
	});
});

//성형정보 공유 disabled
function checkDisable(frm)
{
    if( frm.share.checked == true ){
	   frm.way.disabled = false;
	   frm.hsName.disabled = false;
	   frm.doctor.disabled = false;
	   frm.price.disabled = false;
	   frm.date.disabled = false;
	} 
    else 
	{
	   frm.way.disabled = true;
	   frm.hsName.disabled = true;
	   frm.doctor.disabled = true;
	   frm.price.disabled = true;
	   frm.date.disabled = true;
	}
}

</script>
</head>
<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	
<div class="body-content">
	<div class="body-detail">
<form id="mForm" class="form-horizontal" enctype="multipart/form-data">
	<fieldset>
	    <legend><h3 style="color: #cf2d39;">Review</h3></legend>
	    <div class="float">
	    	<img src="../images/reviewForm.png" width="450px">
	    </div>
	    <div class="floatForm">
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">제　　목</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control fontStyle" id="title" placeholder="Title">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="textArea" class="col-lg-2 control-label">후　　기</label>
	      <div class="col-lg-10">
	        <textarea class="form-control fontStyle" rows="8" id="content" placeholder="Review"></textarea>
	        <span class="help-block" style="font-size: 6pt; color: gray;">*자신의 변화에 대한 상세한 후기를 적어주세요.</span>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">사　　진</label>
	      
	     <div class="row">
	     
		  <div class="col-md-4">
		  <div class="panel panel-default">
			  <div class="panel-body">
			    <img style="max-width:110px; max-height: 100px; width: auto; height: auto;" id="file-img1" name="path" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png"/>
			    <input type="file" name="attachFile1" id="ffile1" class="ffile" multiple />
			  </div>
			  <div class="panel-footer">BEFORE</div>
			</div>
		</div>
		
		  <div class="col-md-4">
		  <div class="panel panel-default">
			  <div class="panel-body">
			    <img style="max-width:110px; max-height: 100px; width: auto; height: auto;" id="file-img2" name="path" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png"/>
			    <input type="file" name="attachFile2" id="ffile2" class="ffile" multiple>
			  </div>
			  <div class="panel-footer">AFTER</div>
			</div>
		  </div>
		
		</div>
	      	
			
		<!--
	      <div class="col-lg-10">
	      <div class="panel panel-default">
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
	      <input type="text" class="file_input_textbox" readonly="readonly"/>
	      <div class="file_input_div">
	      <input type="file" id="ffile" name="files" class="fontStyle" multiple>
	      </div>
	      </div>
	      -->
	    </div>
	    
	    <div class="form-group">
	      <label for="inputPassword" class="col-lg-2 control-label">수술 부위</label>
	      <div class="col-lg-10">
	      <div class="row checkBox">
	      	  <div class="col-md-1 checkData">
	      	  	<input class="sugeryPart" name="sPartCk" type="checkbox" value="눈" />눈
	      	  </div>
			  <div class="col-md-1 checkData">
			  	<input class="sugeryPart" name="sPartCk" type="checkbox" value="코">코
			  </div>
			  <div class="col-md-1 checkData">
				<input class="sugeryPart" name="sPartCk" type="checkbox" value="턱"/>턱	
			  </div>
			  <div class="col-md-1 checkData">
				<input class="sugeryPart" name="sPartCk" type="checkbox" value="광대"/>광대
			  </div>
			  <div class="col-md-1 checkData">
				<input class="sugeryPart" name="sPartCk" type="checkbox" value="윤곽"/>윤곽
			  </div>
			  <div class="col-md-1 checkData">
			  	<input class="sugeryPart" name="sPartCk" type="checkbox" value="양악"/>양악
			  </div>
			  <div class="col-md-1 checkData">
			  	<input class="sugeryPart" name="sPartCk" type="checkbox" value="가슴"/>가슴
			  </div>
			  <div class="col-md-1 checkData">
			  	<input class="sugeryPart" name="sPartCk" type="checkbox" value="지방흡입"/>지방흡입
			  </div>
			  <div class="col-md-1 checkData">
			  	<input class="sugeryPart" name="sPartCk" type="checkbox" value="쁘띠성형"/>쁘띠성형
			  </div>
	      </div>
			  <span class="help-block textMargin" style="font-size: 8pt; color: #cf2d39;"> *수술받은 부위를 체크해주세요.　(중복가능)</span>
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label for="inputPassword" class="col-lg-2 control-label">공유 여부</label>
	      <div class="col-lg-10">
	        <div class="checkbox">
	          <label>
	            <input id="ckStatus" type="checkbox" checked="checked" name="share" onclick="checkDisable(this.form)">
				<span style="font-size: 9pt;">당신의 성형 정보를 공유 하시겠습니까?</span>
	          </label>
	          <span class="help-block textMargin" style="font-size: 6pt; color: #cf2d39;"> *공유하지 않는다면, 다른 이용자들의 정보 요청 쪽지 세례를 받으실 수 있습니다.</span>
	        </div>
	      </div>
	    </div>
	    
	    
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">수술 방법</label>
	      <div class="col-lg-10">
	        <input name="way" type="text" class="form-control fontStyle boxSize" id="inputEmail" placeholder="체크한 수술의 수술 방법을 입력해주세요.　ex) 눈:매몰법, 코:매부리코">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">병원 이름</label>
	      <div class="col-lg-10">
	        <input name="hsName" type="text" class="form-control fontStyle boxSize" id="inputEmail" placeholder="수술 받은 병원의 이름을 입력해주세요.">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">담당 의사</label>
	      <div class="col-lg-10">
	        <input name="doctor" type="text" class="form-control fontStyle boxSize" id="inputEmail" placeholder="수술 받은 의사의 이름을 입력해주세요.">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">수술 비용</label>
	      <div class="col-lg-10">
	        <input name="price" type="text" class="form-control fontStyle boxSize" id="inputEmail" placeholder="단위 : 만원" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">수술 시기</label>
	      <div class="col-lg-10">
	        <input name="date" type="date" class="form-control fontStyle boxSize" id="inputEmail" placeholder="수술 받은 날짜를 입력해주세요.">
	      </div>
	    </div>
	    </div>
	</div>
	    <div class="form-group">
	    	<div class="modal-footer paddingZero" >
				<button type="button" id="cancelBtn" class="btn btn-default buttonWhite" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="updateBtn">Update</button>
			</div>
		</div>
	</fieldset>
</form>
</div>
<script type="text/javascript">

// 파일 미리보기 부분
$('#file-img1').click(function() {
	$('#ffile1').trigger('click');
});

$('#file-img2').click(function() {
	$('#ffile2').trigger('click');
});

$('.panel-body').find('.ffile').change(function() {
	readURL(this);
});

document.querySelector('input[name="date"]').valueAsDate = new Date();

function readURL(input) {
	if(input.files && input.files[0]){
		var reader = new FileReader();//파일을 읽기 위한 FileReader 객체생성
		reader.onload = function (e) {
			var inputId = $(input).prev().context.id;
			
			switch (inputId) {
			case 'ffile1':
				$('#file-img1').attr('src',e.target.result);
				break;
			case 'ffile2':
				$('#file-img2').attr('src',e.target.result);
				break;
			}
			// 파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
			// 이미지 Tag의 src속성에 읽어들인 File 내용을 지정
			// 아래코드에서 읽어들인 dataURL형식
		};
		reader.readAsDataURL(input.files[0]);
	}
}

</script>
</body>
</html>