<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Search Hospital</title>

<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap-dialog.css" />
<link rel="stylesheet" type="text/css" href="../css/AdminLTE.min.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<link rel="stylesheet" type="text/css" href="../css/searchHospital.css">
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/red.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-dialog.js"></script>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=0eeb60ab1928c0907d817bb76db816de&libraries=services"></script>
<script type="text/javascript" src="../js/icheck.js"></script>

</head>
<body>
	<div id="top"></div>

	<div class="container">
		<div class="row">
    		<div class="col-lg-12">	
	    		<h3 class="page-header-new">SEARCH HOSPITAL</h3>
    		</div>
	    </div>
		<div class="row"> 
			<div class="col-lg-9"><!-- 지도 -->
				<div id="map" style="border-radius:5px; width: 100%; height:415px;"></div>
			</div>
			<div class="col-lg-3"><!-- 병원 리스트 -->
				<div style="margin-bottom: 10px;">
					<input id="search" type="text" class="form-control searchBar" placeholder="Q 병원 이름으로 검색">
				</div>
				<div class="mapList" style="width: 100%; height: 375px; overflow: auto;"></div>
			</div>
		</div>
		
		<!-- 상담신청서 작성 -->
		<div class="row" style="margin-top: 25px;">
    		<div class="col-lg-12">	
	    		<h3 class="page-header-new">COUNSEL</h3>
    		</div>
	    </div>
		<div class="row"><!-- 병원선택 --> 
			<div class="infobox-resize" style="margin-top: 0px;">
				<span class="info-box-icon bg-red infoboxicon-resize"><i class="fa fa-hospital-o"></i></span>
				<div class="info-box-content" id="listForm"></div>
			</div>
		</div>
		<div class="row"><!-- 부위 선택 --> 
			<div class="infobox-resize" style="height: 195px;">
				<span class="info-box-icon bg-red infoboxicon-resize"><i class="fa fa-smile-o"></i></span>
				<div class="info-box-content">
					<div class="row-resize">	
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="눈"><label for="eye">눈</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="코"><label for="nose">코</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="이마"><label for="forehead">이마</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="광대"><label for="cheek">광대</label>
	                    </div>
	                    <div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="턱"><label for="chin">턱</label>
	                    </div>
                    </div>
                    <div class="row-resize">	
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="양악"><label for="bimaxillary">양악</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="돌려깎기"><label for="turn">돌려깎기</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="안면윤곽"><label for="face">안면윤곽</label>
	                    </div>
                    </div>
                    <div class="row-resize">
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="가슴"><label for="breast">가슴</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="복부"><label for="abdomen">복부</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="엉덩이"><label for="heap">엉덩이</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="종아리"><label for="calf">종아리</label>
	                    </div>
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="지방흡입"><label for="liposuction">지방흡입</label>
	                    </div> 
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value="쁘띠성형"><label for="petit">쁘띠성형</label>
	                    </div> 
                    </div>
                    <div class="row-resize">
						<div class="form-group col-lg-2">
							<input type="checkbox" class="flat-red" value=""><label for="etc">기타</label>
							<input type="hidden" name="sPart">
	                    </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="row"><!-- 첨부파일 --> 
			<div class="infobox-resize">
				<span class="info-box-icon bg-red infoboxicon-resize"><i class="fa fa-image"></i></span>
				<div class="info-box-content" id="fileForm"></div>
			</div>
		</div>
		<div class="row"><!-- 기본정보 --> 
			<div class="infobox-resize">
				<span class="info-box-icon bg-red infoboxicon-resize"><i class="fa fa-info-circle"></i></span>
				<div class="info-box-content">
					<div class="row-resize">	
						<div class="form-group col-lg-4">	
							<label class="control-label" for="inputDefault">이름</label>
							<input type="text" class="form-control" name="name">
						</div>
						<div class="form-group col-lg-4">	
							<label class="control-label" for="inputDefault">나이</label>
							<input type="text" class="form-control" name="age">
						</div>
						<div class="form-group col-lg-4">	
							<label class="control-label" for="inputDefault">연락처</label>
							<input type="text" class="form-control" name="tel">
						</div>
					</div>
					<div class="row-resize">
						<div class="form-group col-lg-12">
							<label class="control-label" for="inputDefault">상담내용</label>
							<textarea class="form-control" rows="6" id="textArea"></textarea>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<hr class="hr-basic">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<button id="counseling" class="btn btn-danger buttonStyle" onclick="sendMail()">Counseling</button>
			</div>
		</div>
	</div>

<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=0eeb60ab1928c0907d817bb76db816de&libraries=services"></script>
<script>

var hospitalArr = [];

	$(document).ready(function() {
	    $('#top').load('top.html');
	    
	    $.getJSON(contextRoot + '/cosmetic/ajax/loginCheck.do', function(resultObj) {
			var ajaxResult = resultObj.ajaxResult;
			var member = ajaxResult.data;
			if(member != null){
				console.log(member.id);
				$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
				$('.changeValue2').hide();
				$('#mypage').show();
				$('#mypage > a').html('HELLO ' + member.id);
				$('#mypage > a').append('<span class="caret"></span>');
			}
		}).error(function(error) {
			window.location.href='login.html';
		});
	    
	    $.getJSON(contextRoot + "/cosmetic/ajax/selectMemInfo.do", function(resultObj) {
			var member = resultObj.ajaxResult.data;
			var d	   = new Date();
			var age    = d.getFullYear() - parseInt(member.birth.substring(0, 4)) + 1;
			
			$("input[name=name]").val(member.name);
			$("input[name=age]").val(age);
			$("input[name=tel]").val(member.tel);
		});			
	    
	    $('input').iCheck({
	        checkboxClass: 'icheckbox_square-red',
	        radioClass: 'iradio_square-red',
	        increaseArea: '20%' // optional
		});
	    
	 	// 선택한 성형부위 추가
	    $("ins").click(function() {
	    	if($(this).parent().attr("class") == "icheckbox_square-red hover checked") {
		    	var choice   = $(this).parent().parent().children("label").attr("for");
		    	var fileHtml = '<div class="list">' 
							 + '	<div class="X">Close</div>' 
							 + '	<div class="listText">' 
							 + '		<img class="file-img '+choice+'" id="output" src="http://www.randomlengthsnews.com/wp-content/themes/gonzo/images/no-image-blog-one.png">' 
							 + '	</div>'
							 + '	<div class="fileDiv"> '                                          
						     + '		<input type="file" name="file'+choice+'" id="fileInput" onchange="openFile(this)" style="display: none;"> '
						     + '		<a href="javascript:void(0)" class="btn btn-default fileBtn" onclick="document.all.file'+choice+'.click();">파일선택</a> '
						     + '	</div> '    
							 + '</div>';
				
				if(choice != "petit") {
					$("#fileForm").append(fileHtml);
				}
	    	}
	    });		
    });

	
	
	function openFile(input) {
	    var reader = new FileReader();
	  
	    reader.onload = function(){
	    	$(input).parent().prev().children("img").attr("src", reader.result);	
	    };
	    
	    reader.readAsDataURL(input.files[0]);
	};
	 
	// 지도관련
	var hospitalArr = [];
	var overlay = new daum.maps.CustomOverlay({
			 map: map
			});
	
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = { 
		    center: new daum.maps.LatLng(37.5403764874743, 126.98582223288027), // 지도의 중심좌표
		    level: 9 // 지도의 확대 레벨
	};
	
	//지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
	var map = new daum.maps.Map(mapContainer, mapOption); 
	  
	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new daum.maps.services.Geocoder();
	
	
	// DB에서 주소값 불러내기
	var hospitalInfo = function hospitalInfo() {
		$.getJSON(contextRoot + "/cosmetic/ajax/hospitalInfo.do", function(resultObj) {
			var ajaxReuslt = resultObj.ajaxResult;
			var data = ajaxReuslt.data;
			console.log(data);
			hospitalArr = data;
			var idx;
		 	for(idx=0; idx<data.length; idx++){
		 		$(".mapList").append('<blockquote class="blockquote"><p style="font-size: 15px; font-weight: bold;">' + data[idx].name + ' ' +
		 							 '<button class="btn btn-danger mapPoint" onclick="mapPoint('+ idx +')">지도</button>' + '</p>' +
		 				  			 '<small>' + data[idx].addr + '</small>' + 
		 				  			 '<small>' + data[idx].surgeryPart + '</small>' + 
		 				  			 '<small>'+ data[idx].tel + '</small>' +
		 				  			 '<a href="'+ data[idx].link +'" target="_blank" class="link">홈페이지</a>' + '<span class="bar" > | </span>' +
		 				  			 '<span class="addBtnBox" style="font-size: 8pt; margin-left: 0px;" onclick="addList('+ idx +')">상담신청</span>' +
		 				  			 '</blockquote>'
		 		)
		 		
		 		// 주소로 좌표를 검색합니다.
		 		var d = data[idx];
		 		regHospitalMarker(d, idx);
		 	}
		});
	};
	
	hospitalInfo();
	
	
	
	var regHospitalMarker = function (data, idx) {
		var d = data;
		geocoder.addr2coord(d.addr, function(status, result) {
		// 정상적으로 검색이 완료됐으면 
		     if (status === daum.maps.services.Status.OK) {
		    	
		       	/* var imageSrc = '../images/hospitalMaker.png', // 마커이미지의 주소입니다    
		      		imageSize = new daum.maps.Size(44, 49), // 마커이미지의 크기입니다
		      		imageOption = {offset: new daum.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
		        
		      	// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
		      	var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOption), */
		        var	coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng); // 마커가 표시될 위치입니다
		      	
		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new daum.maps.Marker({
		            map: map,
		            position: coords
		            /* image: markerImage // 마커이미지 설정 */
		        });
		        
		        marker.hospitalData = d;
		        
		    	// 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
		        daum.maps.event.addListener(marker, 'click', function() {
		    	var data = this.hospitalData; 
		    	//커스텀 오버레이에 표시할 컨텐츠 입니다
		    	//커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
		    	//별도의 이벤트 메소드를 제공하지 않습니다 
		    	var content = '<div class="wrap">' + 
		    	'    <div class="info">' + 
		    	'        <div class="title lead titleFont">' + 
		    					data.name + 
		    	'            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
		    	'        </div>' + 
		    	'        <div class="body">' + 
		    	'            <div class="desc">' + 
		    	'                <div class="ellipsis">'+data.addr+'</div>' + 
		    	'                <div class="jibun ellipsis">' + data.surgeryPart + '</div>' +
		    	'                <div style="float: left;"><a href="'+ data.link +'" target="_blank" class="link">홈페이지</a></div>' +
		    	'                <div style="margin-left: 60px;" class="addBtnBox" onclick="addList('+idx+')">상담신청</div>' + 
		    	'            </div>' + 
		    	'        </div>' + 
		    	'    </div>' +    
		    	'</div>';
		    	
		    	overlay.setContent(content);
		    	overlay.setPosition(this.getPosition());
		    	
			    //마커 위에 커스텀오버레이를 표시합니다
				//마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
		    	overlay.setMap(map);
		    	});
			}
		});
	};
	
	// 병원추가
	var addList = function(idx) {
		console.dir(hospitalArr[idx]);
		console.log($('#h_'+hospitalArr[idx].hospitalNo).length);
		// 제이쿼리, 스크립트 = $().length : ( 0 : 존재하지 않는다. 1: 존재한다. )
		if($('#h_'+hospitalArr[idx].hospitalNo).length == 0){
			$("#listForm").append('<div class="list" id="h_'+ hospitalArr[idx].hospitalNo +'">'+
								  '<div class="X">Close</div>' +
								  '<div class="listText ">' + '<div class="bFont" style="font-size: 11pt;">' + hospitalArr[idx].name + '<hr class="listHr"/></div>' +
								  '<span class="bFont">' + '주소' + '</span>' + '<br />'　+  hospitalArr[idx].addr + '<br /><br />' +
								  '<span class="bFont">' + '수술부위' + '</span>' + '<br /><div class="partData">' + hospitalArr[idx].surgeryPart + '</div><br /><br />' +
								  '<span class="bFont">' + '전화번호' + '</span>' + '<br />' + hospitalArr[idx].tel + '<br /><br />' +
								  '</div>'+
								  '<input type="hidden" name="email" value="'+hospitalArr[idx].email+'">' + 
								  '<input type="hidden" name="hospitalNo" value="'+hospitalArr[idx].hospitalNo+'">' + 
								  '</div>');
		} else{
			alert("이미 리스트에 추가되었습니다!");
		}
		
		$(".X").on("click", function () {
			$(this).parent().remove();
		});
	
	};
	
	// 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
	function closeOverlay() {
	    overlay.setMap(null);
	    //수정
	}
	
	//키보드 검색 이벤트
	var keyBoard = function () {
		$("#search").keyup(function name() {
			var searchVal = $("#search").val();
			var searchResult;
			var flag = false;
			$(".mapList").empty();
			for(var idx = 0; idx < hospitalArr.length; idx++){
				var name = hospitalArr[idx].name;
				searchResult = name.indexOf(searchVal);
				console.dir(name)
				if(searchResult != -1){
					console.log("성공")
					$(".mapList").append('<blockquote class="blockquote"><p style="font-size: 15px; font-weight: bold;">' + name + ' ' +
										 '<button class="btn btn-danger mapPoint" onclick="mapPoint('+ idx +')">지도</button>' + '</p>' +
										 '<small>' + hospitalArr[idx].addr + '</small>' + 
					  			 		 '<small>' + hospitalArr[idx].surgeryPart + '</small>' + 
					  					 '<small>' + hospitalArr[idx].tel + '</small>' + 
			 				  			 '<a href="'+ hospitalArr[idx].link +'" target="_blank" class="link">홈페이지</a>' + '<span class="bar" > | </span>' +
			 				  			 '<span class="addBtnBox" style="font-size: 8pt; margin-left: 0px;" onclick="addList('+ idx +')"> 상담신청</span>' +
					  					 '</blockquote>'
						);
					flag = true;
					continue;
				}else {
					console.log("실패")
				};
			};
			
			if(!flag) {
				$(".mapList").append('<p class="lead" style="font-size: 12px; text-align: center;">' + '찾으시는 병원이 없습니다.' + '</p>' + '</blockquote>');
			}
		});
	};
	
	keyBoard();
	
	// 지도 버튼
	
	var click_overlay;
	var click_marker;
	
	var mapPoint = function (idx) {
	
		if(click_overlay!=null) {
			closeClickOverlay();
		}	
		
		// 주소로 좌표를 검색합니다
		geocoder.addr2coord(hospitalArr[idx].addr, function(status, result) {
	
	    // 정상적으로 검색이 완료됐으면
	     if (status === daum.maps.services.Status.OK) {

	        var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);

	        // 결과값으로 받은 위치를 마커로 표시합니다
	        click_marker = new daum.maps.Marker({
	            map: map,
	            position: coords
	        });
	        
		    // 커스텀 오버레이에 표시할 컨텐츠 입니다
		    // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
		    // 별도의 이벤트 메소드를 제공하지 않습니다 
		    var content = '<div class="wrap">' + 
		                '    <div class="info">' + 
		                '        <div class="title lead titleFont">' + 
		               					hospitalArr[idx].name + 
		                '            <div class="close" onclick="closeClickOverlay()" title="닫기"></div>' + 
		                '        </div>' + 
		                '        <div class="body">' + 
		                '            <div class="desc">' + 
		                '                <div class="ellipsis">' + hospitalArr[idx].addr + '</div>' + 
		                '                <div class="jibun ellipsis">' + hospitalArr[idx].surgeryPart + '</div>' + 
		                '                <div style="float: left;"><a href="' + hospitalArr[idx].link +'" target="_blank" class="link">홈페이지</a></div>' + '　' +
		                '				 <span class="addBtnBox" style="font-size: 8pt; margin-left: 0px;" onclick="addList('+ idx +')">상담신청</span>' +
		                '            </div>' + 
		                '        </div>' + 
		                '    </div>' +    
		                '</div>';
			     // 마커 위에 커스텀오버레이를 표시합니다
	     // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
	     click_overlay = new daum.maps.CustomOverlay({
	         content: content,
	         map: map,
	         position: click_marker.getPosition()
	     });
	    }
	});
}; 

var closeClickOverlay = function() {
	click_overlay.setMap(null);
	click_marker.setMap(null);
};

//상담신청서 메일발송
function sendMail() {
	var surgeryPart = "";
	
	$("input[type=checkbox]:checked").each(function() {
		if(surgeryPart == "") {
			surgeryPart += $(this).val();
		} else {
			surgeryPart += (", " + $(this).val());
		}
	});

	$.ajax({
		type: "POST",
		url: contextRoot + "/cosmetic/ajax/sendMail.do", 
		data: {  
			"name" : $("input[name=name]").val(),
			"age" : $("input[name=age]").val(),
			"tel" : $("input[name=tel]").val(),
			"surgeryPart" : surgeryPart,
			"content" : $("#textArea").val(),
			"email" : $("input[name=email]").val()
		},
		dataType: "json",
		success: function(resultObj) {
			if(resultObj.ajaxResult.status == 'success'){
				BootstrapDialog.show({
				    title: 'Success',
				    message: '상담 신청서가 발송 되었습니다.' ,
				    buttons: [{
				        id: 'btn-ok',
				        label: 'OK',
				        cssClass: 'btn-danger', 
				        autospin: false,
				        action: function(dialogRef){    
				            dialogRef.close();
				            location.href = 'search_hospital.html';
				        }
				    }]
				});
			} else{
				BootstrapDialog.show({
				    title: 'Error',
				    message: '상담 신청서를 발송하지 못했습니다.' ,
				    buttons: [{
				        id: 'btn-ok',  
				        label: 'OK',
				        cssClass: 'btn-danger', 
				        autospin: false,
				        action: function(dialogRef){    
				            dialogRef.close();
				        }
				    }]
				});
			}
		}
	});
}
</script>
</body>
</html>