<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" name="viewport" content="width=device-width, initial-scale=1">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<title>User Review List</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://npmcdn.com/flickity@1.1/dist/flickity.min.css">
<link rel="stylesheet" href="../lib/bootflat/css/site.min.css">

<!-- Script -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jQuery 최신버전 -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script> <!-- marsonry -->
<script src="https://npmcdn.com/flickity@1.1/dist/flickity.pkgd.min.js"></script><!-- flickity -->
<script src="../js/isotope-docs.min.js" type="text/javascript"></script>
<script src="../js/isotope.pkgd.js" type="text/javascript"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script> <!-- Bootstrap.js -->
<script type="text/javascript" src="../js/common.js"></script>




<style type="text/css" media="screen">
	#body-all{
		width: 100%;
	}
	#body-content{
		width: 80%;
		margin-left: 180px;
	}
	.col-xs-12,.col-md-8,.col-md-3,.col-md-pull-9{
		text-align: left;
	}
	..col-xs-12,.col-md-8{
		white-space:nowrap !important;
		text-overflow:ellipsis !important;
		overflow: hidden !important;
	}
	.col-md-8{
		font-family: "HY견고딕";
		color: rgb(127,127,127);
		white-space:nowrap !important;
		text-overflow:ellipsis !important;
		overflow: hidden !important;
	}
	.col-md-8-title{
		font-family: "HY견고딕";
		font-weight: bold;
		color: rgb(89,89,89);
		white-space:nowrap !important;
		text-overflow:ellipsis !important;
		overflow: hidden !important;
	}
	.col-xs-6,.col-md-4{
		text-align: right;
		margin-top: 17px;
	}
	.col-md-3,.col-md-pull-9{
		padding-left: 0px !important;
	}
	.col-md-4-bottom-right{
		
	}
	.row-main{
		border: 3px solid #a6a6a6;
	}
	#bottom-fix{
		position:fixed; 
		left:0; 
		bottom:0; 
		z-index:2; 
		width:100%;
	}
	#bottom-content-left{
		width:1090px;
		margin-top: 33px;
		text-align: center;
	}
	#bottom-content-middle{
		text-align: center;
	}
	#bottom-content-right{
		margin-top:33px;
		margin-left: 25px;
		width: 130px;
		text-align: right;
	}
	.item{
		width: 100% !important;
	}
	
	@media screen and (max-width:1024px) {
      .item{
      	 width: 791px;
      	 float: none;
      	 font-size: small;
      }
      .col-md-pull-9{
      	padding-left: 0px;
      }
      .col-md-pull-9 img{
      	width: 180px;
      	height: 197px;
      }
    }
    
    .detailLnk{
    	color: white;
    }
    .detailLnk:HOVER {
    	text-decoration: none;
		color: white;	
	}
	#masonry{
		width: 100% !important;
	}
</style>
<script type="text/javascript">
	// 페이징 인덱스
	var pageIdx = 2;
	
	$(window).load(function(){
		$('#masonry').masonry({
			itemSelector:'.item',
			isAnimated: true,
			isFitWidth: true
		});
		$('#masonry').imagesLoaded(function() {
			$('#masonry').masonry();
		});
		
		
	});
	$(document).ready(function(){
		
		$('#top').load('top.html').trigger('pagecreate');
// 		var container = document.querySelector('#masonry');
		
		// flickity 설정
// 		$('.gallery').flickity({
// 			initialIndex:3,
// 			lazyLoad : 2,
// 			autoPlay : 2000
// 		});
		
		$.getJSON(contextRoot + '/cosmetic/ajax/reviewList.do',function(resultObj){
			if(resultObj.member != null){
				console.log(resultObj.member.id);
				$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
				$('.changeValue2').html('Hello '+ resultObj.member.id).attr('onclick','location.href="mylist.html"');
			}
			
			// 리뷰 베스트 TOP5 
			for(var best of resultObj.reviewBest){
				var path1 = '';
				var path2 = '';
				
				var index = 1;
				for(var photoList of best.reviewPhoto){
					if(index == 1){
						path1 = photoList.filePath;
					}
					else{
						path2 = photoList.filePath;
					}
					index++;
				}
				
				var div = '<div class="gallery-cell">';
			    	div +=	'<a class="bestReview" href="#"><img reviewNo='+ best.reviewNo+' class="gallery-cell-image" data-flickity-lazyload="'+path2+'" width="300" height="300"/></a>';
					div += '</div>';
				
				var $cellElem = $(div);
				$('.gallery').flickity('append',$cellElem);
				$('.gallery').flickity({
					initialIndex:2,
					lazyLoad : 2,
					autoPlay : 1000
				});
				$('a.bestReview').click(clickBestReview);
			}
			
			for(var list of resultObj.reviewList){
			
			var beforePath = '';
			var afterPath = '';
			
			// 유저리스트 상세쪽 Before - After사진만 올릴수 있게하고 이 로직은 나중에 바꿔야 됩니다.
			var index = 1;
			for(var photoList of list.reviewPhoto){
				if(index == 1){
					beforePath = photoList.filePath;
				}
				else{
					afterPath = photoList.filePath;
				}
				index++;
			}
			
			// 날짜 변환
			var formattedDate = new Date(list.regDate);
			var years = formattedDate.getFullYear();
			var months = formattedDate.getMonth() + 1;
			var days = formattedDate.getDate();
			var regDate = years + '.' + months +'.'+ days;
				
			console.log(list.reviewNo);
			
		 	var div ='<div class="item">';
			    div += '<div class="row row-main">';
		    	div += '<div class="col-md-9 col-md-push-3">';
		    	div += '<div class="row">'
				div +=  '<div class="col-xs-12 col-md-8 col-md-8-title"><h3>'+ list.title +'</h3></div>'
				div +=  '<div class="col-xs-6 col-md-4"><span class="top-right-data"><img src="../images/조회수.png" />' + list.viewCnt +'</span>&nbsp;<span class="top-right-data"><img src="../images/추천수.png" />'+list.recomCnt+'</span>&nbsp;<span class="top-right-data"><img src="../images/등록일자.png" />'+regDate+'</span></div>';
				div += '</div>';
				div += '<div class="row">';
				div += '<div class="col-md-8" style="white-space:nowrap; text-overflow:ellipsis; overflow: hidden;">'+list.content+'</div>';
				div += '<div class="col-md-4 col-md-4-bottom-right"><h2><span class="label label-danger" style="cursor: pointer;"><a class="detailLnk" href="#" reviewNo="'+list.reviewNo+'">MORE+</a></span></h2></div>';
				div += '</div>';
				div	+= '</div>';
				div += '<div class="col-md-3 col-md-pull-9"><img src="'+ afterPath +'" width="250" height="215" /></div>';
				div += '</div>';
				div	+= '</div>';
			var $elem = $(div);
			
			
			$('#masonry').append($elem).masonry('appended',$elem);
			
			$('#masonry').imagesLoaded(function() {
				$('#masonry').masonry();
			});
			
			$('a.detailLnk').click(clickDetailLnk);
			
			}
		}).error(function(error) {
			window.location.href='login.html';
		});


		$('#listMore').on('click',function() {
			$.getJSON(contextRoot + '/cosmetic/ajax/reviewList.do?pageNo=' + pageIdx,function(resultObj){
				
				if(resultObj.reviewList.length != 0) pageIdx++;
				
				for(var list of resultObj.reviewList){
					
					var beforePath = '';
		 			var afterPath = '';
		 			
		 			var index = 1;
		 			for(var photoList of list.reviewPhoto){
		 				if(index == 1){
		 					beforePath = photoList.filePath;
		 				}
		 				else{
		 					afterPath = photoList.filePath;
		 				}
		 				index++;
		 			}
					
		 			// 날짜 변환
		 			var formattedDate = new Date(list.regDate);
					var years = formattedDate.getFullYear();
					var months = formattedDate.getMonth() + 1;
					var days = formattedDate.getDate();
					var regDate = years + '.' + months +'.'+ days;
		 			
					var div ='<div class="item">';
					    div += '<div class="row row-main">';
				    	div += '<div class="col-md-9 col-md-push-3">';
				    	div += '<div class="row">'
						div +=  '<div class="col-xs-12 col-md-8 col-md-8-title"><h3>'+ list.title +'</h3></div>'
						div +=  '<div class="col-xs-6 col-md-4"><span class="top-right-data"><img src="../images/조회수.png" />' + list.viewCnt +'</span>&nbsp;<span class="top-right-data"><img src="../images/추천수.png" />'+list.recomCnt+'</span>&nbsp;<span class="top-right-data"><img src="../images/등록일자.png" />'+regDate+'</span></div>';
						div += '</div>';
						div += '<div class="row">';
						div += '<div class="col-md-8">'+list.content+'</div>';
						div += '<div class="col-md-4 col-md-4-bottom-right"><h2><span class="label label-danger" style="cursor: pointer;"><a class="detailLnk" href="#" reviewNo="'+list.reviewNo+'">MORE+</a></span></h2></div>';
						div += '</div>';
						div	+= '</div>';
						div += '<div class="col-md-3 col-md-pull-9"><img src="'+ afterPath +'" width="250" height="215" /></div>';
						div += '</div>';
						div	+= '</div>';
			    	var $elem = $(div);
			    	$('#masonry').append($elem).masonry('appended',$elem);
			    	
			    	$('#masonry').imagesLoaded(function() {
						$('#masonry').masonry();
					});
			    	$('a.detailLnk').click(clickDetailLnk);
				}
				
			});
			
		});
		
		$('#writeBtn').click(function(event) {
			location.href = "reviewForm.html";
		});
	});
</script>
</head>
<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
    
    <!-- content -->
    <div id="body-all">
    	<div id="body-content">
	    	<div class="row" style="width: 100%;">
			  <div class="col-sm-9" style="text-align: center; width: 100%;">
			  		<hr />
			    	<h2 style="color:#a6a6a6;">HOT BEST</h2>
			    	<hr />
			    <div class="row">
			      <div class="col-sm-9" style="width: 100%;">
			        <div class="gallery js-flickity" data-flickity-options='{ "lazyLoad": 2, "initialIndex": 2,"autoPlay": 2000}' style="height: 300px;"><!--js-flickity, data-flickity-options='{ "lazyLoad": 2, "initialIndex": 2,"autoPlay": 2000}' -->
			        <!--  
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main1.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main2.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main3.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main4.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main5.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main6.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main7.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main8.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main9.jpg" width="300" height="300"/>
					  </div>
					  -->
					</div>
			        
			      </div>
			    </div>
			  </div>

			  <div class="row" style="width: 100%; height: 170px;">
			  <div class="col-sm-9" style="text-align: center; width: 100%; margin-top:15px;">
			  		<br />
			  		<br />
			  		<hr />
			    	<h2 style="color:#a6a6a6;">REVIEW LIST</h2>
			    	<hr />
			    
			    <!-- Content -->
			    <!-- style="min-width: 967px; max-width: 1266px; -->
			    <div id="masonry" style="width:100% !important; height: 100%;">
				<!-- 			    <div id="columns"> -->
			    
			    <!-- Content end -->
<!-- 			    </div> -->
			    <!-- Columns end -->
			    </div>
			    <!-- Masonry end -->
				
				<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4" id="bottom-content-middle"><h1><span class="label label-danger" id="listMore" style="cursor: pointer;">더 보기</span></h1></div>
						<div class="col-md-4"><h1><span class="label label-default" id="writeBtn" style="cursor: pointer;">WRITE</span></h1></div>
				 </div>
				
			  </div>
			  
			  
			</div>
			
			
		</div>
	
	
    </div>
    
    </div>
<script type="text/javascript">
 	
 	function clickDetailLnk(event) {
 		console.log(event);
		event.preventDefault();
		location.href = 'user_review2.html?reviewNo=' + $(event.target).attr('reviewNo');
	}
 	function clickBestReview(event) {
		console.log(event);
		event.preventDefault();
		location.href = 'user_review2.html?reviewNo=' + $(event.target).attr('reviewNo');
	}
</script>
</body>
</html>