<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<title>꽃보다 아름다운</title>  
<link rel="stylesheet" href="../css/flexslider.css" type="text/css">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>  
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<style>
a, h3, td { font-family: 'Jeju Gothic', serif; }
.body-content{
	width: 80%;
	margin-left: 150px;
	margin-right: 150px;
}
.left { 
	width: 49%;  
	margin-top: 10px; 
	position: relative;
	float: left;
}
.right { 
	width: 49%;  
	margin-top: 10px; 
	position: relative;
	float: right;
} 
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../js/jquery.flexslider.js"></script>
<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
    //controlNav: "thumbnails"
  });
});

$(document).ready(function() {
	$('#top').load('top.html').trigger('pagecreate');
});
</script>
</head>

<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	<!-- 유저리뷰 표시줄 -->
    <p class="lead" style="margin-top: 30px; margin-left: 160px; color: #cf2d39; font-size: 20pt;">User Review</p>
    <div style="width: 1065px; margin-left: 160px; margin-top: 0px;"><hr /></div>
    
    <div class="body-content"> 
    	<!-- 본문_좌 --> 
        <div class="left">
        	<div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">PHOTO</h3>
              </div>
              <div class="panel-body">
              	<div class="flexslider">
                  <ul class="slides">
                    <li data-thumb="../images/성형전.PNG">
                      <img src="../images/성형전.PNG" />
                    </li>
                    <li data-thumb="../images/after2.jpg">
                      <img src="../images/after2.jpg" />
                    </li>
                    <li data-thumb="../images/after3.jpg">
                      <img src="../images/after3.jpg" />
                    </li>
                    <li data-thumb="../images/일반인후기3.jpg">
                      <img src="../images/일반인후기3.jpg" />
                    </li>
                  </ul>
                </div>	 
            </div>	 
        </div> 
        </div>
        
      <!-- 본문_우 -->
      <div class="right"> 
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">content</h3>
              </div>
              <div class="panel-body">
                ?????????!!!!!!!!!!!!!!대박사건!!!!!!!!!!!!!!
					수술!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!완전!!!!!!!!!!!!!!!!!!
					!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
					잘됨몬!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
					남자칭구한텐 비밀!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
					아싸!!!!!!!!!!!!!!!!!!!!!!!
					아호!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
					대박!!!!!!!!!!!!!!!!!!!
					이름도 개명해야지!!!!!!!!!!!!!!!!!!!!!!!
					★완★전★씐★나★
					이렇게 얼굴 바꾼다고 얼마나 많은 피를 흘렸는지....
					너무 힘들었다 사실
					두번다신 수술 못 할 것같다
					뭐 이미 했으니 샷
              </div>
        	</div> 
            <div style="float: right; line-height: 0;">좋아요 330 | <a href="">댓글 2343</a> | 조회 34231</div><br/><br/>
            
            <!-- 댓글 -->
            <div class="panel panel-default">
  				<div class="panel-heading">
                	<h3 class="panel-title">comment</h3>
                </div>
                  <div class="panel-body">
                    <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>글쓴이</th>
                      <th>내용</th>
                      <th>등록일</th>
                      <th>좋아요 | 신고</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr>
                      <td>1</td>
                      <td>김초롱</td>
                      <td>와전다 진시 다른 사람</td>
                      <td>2016-02-19 14:95</td>
                      <td class="favorite"><a href="#" class="btn btn-danger btn-xs">좋아요</a><a href="#" class="btn btn-danger btn-xs">신고</a></td>
                    </tr> 
                    <tr>
                      <td>1</td>
                      <td>김초롱</td>
                      <td>와전다 진시 다른 사람</td>
                      <td>2016-02-19 14:95</td>
                      <td class="favorite"><a href="#" class="btn btn-danger btn-xs">좋아요</a><a href="#" class="btn btn-danger btn-xs">신고</a></td>
                    </tr> 
                    <tr>
                      <td>1</td>
                      <td>김초롱</td>
                      <td>와전다 진시 다른 사람</td>
                      <td>2016-02-19 14:95</td>
                      <td class="favorite"><a href="#" class="btn btn-danger btn-xs">좋아요</a><a href="#" class="btn btn-danger btn-xs">신고</a></td>
                    </tr> 
                    <tr>
                      <td>1</td>
                      <td>김초롱</td>
                      <td>와전다 진시 다른 사람</td>
                      <td>2016-02-19 14:95</td>
                      <td class="favorite"><a href="#" class="btn btn-danger btn-xs">좋아요</a><a href="#" class="btn btn-danger btn-xs">신고</a></td>
                    </tr> 
                    <tr>
                      <td>1</td>
                      <td>김초롱</td>
                      <td>와전다 진시 다른 사람</td>
                      <td>2016-02-19 14:95</td>
                      <td class="favorite"><a href="#" class="btn btn-danger btn-xs">좋아요</a><a href="#" class="btn btn-danger btn-xs">신고</a></td>
                    </tr>  
                  </tbody> 
                </table>	 
                  </div>
                  <div style="padding: 0px; margin: 0px; line-height: none; text-align: center;">
                  	<ul class="pagination pagination-sm">
                      <li class="disabled"><a href="#">&laquo;</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
              </div>
            </div> 
      </div>  
</body>
</html>