<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>꽃보다 아름다운</title>
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />  
<link rel="stylesheet" type="text/css" href="../css/bootstrap_yeti.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap-dialog.css" />
<link rel="stylesheet" type="text/css" href="../css/flexslider.css" >
<link rel="stylesheet" type="text/css" href="../css/common.css">
<script src="../lib/jquery/jquery.js"></script>
<script src="../js/jquery.flexslider.js"></script>
<script src="../js/common.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../js/bootstrap-dialog.js"></script>
<script>
// 현재 페이지 번호
var pageNumber = 1;

$(window).load(function() {
	/*
  $('.flexslider').flexslider({
    animation: "slide"
    //controlNav: "thumbnails"
  });
	*/
});

$(document).ready(function() {
	$('#top').load('top.html').trigger('pagecreate');
	$.getJSON(contextRoot + '/cosmetic/ajax/loginCheck.do', function(resultObj) {
		var ajaxResult = resultObj.ajaxResult;
		var member = ajaxResult.data;
		if(member != null){
			console.log(member.id);
			$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
			$('.changeValue2').hide();
			$('#mypage').show();
			$('#mypage > a').html('HELLO ' + member.id);
			$('#mypage > a').append('<span class="caret"></span>');
			$('#commentId').text(member.id);
		}
	}).error(function(error) {
		window.location.href='login.html';
	});
	
	 // 파라미터 번호 추출
 	 var reviewNo = location.href.split('?')[1].split('=')[1];
 	 
 	 $.getJSON(contextRoot + '/cosmetic/ajax/reviewListDetail.do?reviewNo='+reviewNo,function(resultObj){
 		 var ajaxResult = resultObj.ajaxResult;
 		 var reviewDetail = ajaxResult.data;
 		 
 		// 로그인 헤더 처리
		if(reviewDetail.member != null){
			$('.changeValue1').html('LOGOUT').attr('onclick','return logout();');
			$('.changeValue2').hide();
			$('#mypage').show();
			$('#mypage > a').html('HELLO ' + reviewDetail.member.id);
			$('#mypage > a').append('<span class="caret"></span>');
			$('#commentId').text(reviewDetail.member.id);
		}
 		
 		if(ajaxResult.status == 'success'){
 			 console.log(reviewDetail);
 	 		 $('#data-title').text(reviewDetail.review.title);
 			 $('#data-content').text(reviewDetail.review.content);
 	 		 $('#viewCnt').text(reviewDetail.review.viewCnt);
 	 		 $('#recomCnt').text(reviewDetail.review.recomCnt);
 			 $('#commentCnt').text(reviewDetail.commentCnt);
 			 $('#memberId').text(reviewDetail.review.memberId);
 	 		 
 	 		 for(var photoList of reviewDetail.photo){
 	 			 var li =   '<li data-thumb="'+photoList.filePath+'">	 ';
		             li +=  '<div class="coverDiv"><img class="coverImg" src="'+photoList.filePath+'" style="display:block; margin:0 auto;"/></div>     ';
		             li +=  '</li>                                     ';
		         $('.slides').append(li);   
 	 		 }
 	 		 
     	 	 $('.flexslider').flexslider({
     	 		   animation: "slide"
     	 		    //controlNav: "thumbnails"
     	 	 });
     	 	
     	 	 // 빈 오브젝트 체크
     	 	 var emptyCheck =  $.isEmptyObject(reviewDetail.comment);
     	 	 
 	 		 for(var commentList of reviewDetail.comment){
 	 				
 	 			 // 날짜 변환
		 		var formattedDate = new Date(commentList.regDate);
				var years = formattedDate.getFullYear();
				var months = formattedDate.getMonth() + 1;
				var days = formattedDate.getDate();
				var hours = formattedDate.getHours();
				var minutes = formattedDate.getMinutes();
				var regDate = years + '.' + months +'.'+ days + ' ' + hours + ':' + minutes;
 	 			var tr = '<tr id=c_'+commentList.commentNo+'>';
	                 tr+=     '	<td>'+commentList.commentNo+'</td>                                                                                            															';
	                 tr+=     '	<td>'+commentList.member[0].id+'</td>                                                                                         															';
	                 tr+=     '	<td>'+commentList.content+'</td>                                                                                              															';
	                 tr+=     '	<td>'+regDate+'</td>                                                                                                          															';
	                 tr+=     '<td class="favorite"><a onclick=commentDel('+commentList.commentNo+','+reviewNo+') class="btn btn-danger btn-xs">삭제</a></td>';//<a class="btn btn-danger btn-xs">수정</a>
	                 tr+= '</tr>		                                                                                                                    															';
 	 		 	 $('#comment-area').append(tr);
 	 		 }
 	 		 if(emptyCheck){
 	 			var tr = '<tr>';
                tr+=     '	<td colspan=5 align="center">작성된 댓글이 없습니다.</td>                                                                                                                      ';
                tr+=     '</tr>		                                                                                                                    ';
 		 	 	$('#comment-area').append(tr);
 	 		 }
 	 		 pageNumber = reviewDetail.pageNo;
 	 		 if(reviewDetail.pageNo != 1){
 	 			var li = '<li><a href="#" onclick="commentPage('+(pageNumber-1)+','+reviewNo+');return false;">&laquo;</a></li>';
	 			$('.pagination').append(li);
 	 		 }
 	 		 for(var i = reviewDetail.beginPage; i <= reviewDetail.endPage; i++){
 	 			 var li = '<li id=p_'+ i +'><a href="#" onclick="commentPage('+ i +','+reviewNo+'); return false;" style="cursor: pointer;">'+i+'</a></li>';
 	 			 $('.pagination').append(li);
 	 		 }
 	 		 if(reviewDetail.pageNo != reviewDetail.lastPage){
 	 			 var li = '<li><a href="#" onclick="commentPage('+(pageNumber+1)+','+reviewNo+');return false;">&raquo;</a></li>';
 	 			 $('.pagination').append(li);
 	 		 }
 	 		pageNumber = reviewDetail.pageNo;
 		 }
 		 
 	 }).error(function(error) {
		 window.location.href='login.html';
	 });
 	 
 	 $('#deleteBtn').click(function(event) {
 		event.preventDefault();
		  $.get(contextRoot+'/cosmetic/ajax/reviewDelete.do?reviewNo='+reviewNo,function(resultObj){
			   var ajaxResult = resultObj.ajaxResult;
			   console.log(ajaxResult.status);
			   var status = ajaxResult.status;
			   
			   if(status == 'success'){
				   BootstrapDialog.show({
					    title: 'Success',
					    message: '게시글이 삭제되었습니다.' ,
					    buttons: [{
					        id: 'btn-ok',   
					        icon: 'glyphicon glyphicon-check',       
					        label: 'OK',
					        cssClass: 'btn-danger', 
					        autospin: false,
					        action: function(dialogRef){    
					            dialogRef.close();
					            location.href = 'user_review_list.html';
					        }
					    }]
					});
				   
				   //location.href = 'user_review_list.html';
			   }
			   else{
				   BootstrapDialog.show({
					    title: 'Error',
					    message: '권한이 없습니다.' ,
					    buttons: [{
					        id: 'btn-ok',   
					        icon: 'glyphicon glyphicon-check',       
					        label: 'OK',
					        cssClass: 'btn-danger', 
					        autospin: false,
					        action: function(dialogRef){    
					            dialogRef.close();
					        }
					    }]
					});
				   //alert('권한이 없습니다.');
			   }
			   
		  },'json');
	 });
 	 
 	 $('#updateBtn').click(function() {
 		event.preventDefault();
 		 //권한 체크
 	  $.get(contextRoot+'/cosmetic/ajax/authority.do?reviewNo='+reviewNo,function(resultObj){
 			 var ajaxResult = resultObj.ajaxResult;
 			 var status = ajaxResult.status;
 			 
 			 if(status == 'success'){
 				location.href = 'reviewUpdate.html?reviewNo='+reviewNo; 
 			 }
 			 else{
 				BootstrapDialog.show({
				    title: 'Error',
				    message: '권한이 없습니다.' ,
				    buttons: [{
				        id: 'btn-ok',   
				        icon: 'glyphicon glyphicon-check',       
				        label: 'OK',
				        cssClass: 'btn-danger', 
				        autospin: false,
				        action: function(dialogRef){    
				            dialogRef.close();
				        }
				    }]
				});
 			 }
 			 
 		 },'json');
		 
	 });
 	 
 	 $('#wishBtn').click(function() {
		$.get(contextRoot + '/cosmetic/ajax/wishAdd.do?reviewNo='+reviewNo,function(resultObj){
			var ajaxResult = resultObj.ajaxResult;
			var status = ajaxResult.status;
			if(status == 'success'){
				 BootstrapDialog.show({
					    title: 'Success',
					    message: '위시리스트에 추가되었습니다.' ,
					    buttons: [{
					        id: 'btn-ok',   
					        icon: 'glyphicon glyphicon-check',       
					        label: 'OK',
					        cssClass: 'btn-danger', 
					        autospin: false,
					        action: function(dialogRef){    
					            dialogRef.close();
					        }
					    }]
					});
				
				//alert('위시리스트에 추가되었습니다.');
			}
			else{
				
				BootstrapDialog.show({
				    title: 'Error',
				    message: '이미 위시리스트에 있습니다.' ,
				    buttons: [{
				        id: 'btn-ok',   
				        icon: 'glyphicon glyphicon-check',       
				        label: 'OK',
				        cssClass: 'btn-danger', 
				        autospin: false,
				        action: function(dialogRef){    
				            dialogRef.close();
				        }
				    }]
				});
				//alert('이미 위시리스트에 있습니다.');
			}
		},'json');	
	 });
 	 
 	 $('#recomBtn').click(function() {
		 $.getJSON(contextRoot + '/cosmetic/ajax/reivewRecomAdd.do?reviewNo='+reviewNo,function(resultObj){
			 var ajaxResult = resultObj.ajaxResult;
			 var status = ajaxResult.status;
			 
			 if(status == 'success'){
				 BootstrapDialog.show({
					    title: 'Success',
					    message: '추천하였습니다' ,
					    buttons: [{
					        id: 'btn-ok',   
					        icon: 'glyphicon glyphicon-check',       
					        label: 'OK',
					        cssClass: 'btn-danger', 
					        autospin: false,
					        action: function(dialogRef){    
					            dialogRef.close();
					        }
					    }]
					});
				 	//alert('추천하였습니다.');
				}
				else{
					BootstrapDialog.show({
					    title: 'Success',
					    message: '이미 추천하였습니다.' ,
					    buttons: [{
					        id: 'btn-ok',   
					        icon: 'glyphicon glyphicon-check',       
					        label: 'OK',
					        cssClass: 'btn-danger', 
					        autospin: false,
					        action: function(dialogRef){    
					            dialogRef.close();
					        }
					    }]
					});
					//alert('이미 추천하였습니다.');
				}
		 });
 		 
	 });
 	 
 	 $('#submitBtn').click(function(event) {
 		event.preventDefault();
		$.post(contextRoot+'/cosmetic/ajax/reviewCommentAdd.do',{
			reviewNo : reviewNo,
			content : $('#textArea').val()
		},function(resultObj){
			$('#comment-area').children('tr').remove();
			
			console.log(resultObj);
			for(var comment of resultObj.commentList){
				
				// 날짜 변환
		 		var formattedDate = new Date(comment.regDate);
				var years = formattedDate.getFullYear();
				var months = formattedDate.getMonth() + 1;
				var days = formattedDate.getDate();
				var hours = formattedDate.getHours();
				var minutes = formattedDate.getMinutes();
				var regDate = years + '.' + months +'.'+ days + ' ' + hours + ':' + minutes;
				
				// 결과값을 태그에 추가
 	 			var tr = '<tr id=c_'+comment.commentNo+'>';
	                 tr+=     '	<td>'+comment.commentNo+'</td>                                                                                            															';
	                 tr+=     '	<td>'+comment.member[0].id+'</td>                                                                                         															';
	                 tr+=     '	<td>'+comment.content+'</td>                                                                                              															';
	                 tr+=     '	<td>'+regDate+'</td>                                                                                                          															';
	                 tr+=     '<td class="favorite"><a onclick=commentDel('+comment.commentNo+','+reviewNo+') class="btn btn-danger btn-xs">삭제</a></td>';
	                 tr+= '</tr>		                                                                                                                    															';
 	 		 	$('#comment-area').append(tr);
 	 		 	$('#textArea').val('');
 	 		 	
 	 		 	$('.pagination').children('li').remove();
 	 			
 	 			// 다시 페이지번호 출력
 	 	 		if(resultObj.pageNo != 1){
 	 	 			var li = '<li><a href="#" onclick="commentPage('+(resultObj.pageNo-1)+','+reviewNo+');return false;">&laquo;</a></li>';
 	 	 			$('.pagination').append(li);
 	 	 		}
 	 	 		
 	 			for(var i = resultObj.beginPage; i <= resultObj.endPage; i++){
 	 	 			 var li = '<li id=p_'+ i +'><a href="#" onclick="commentPage('+ i +','+reviewNo+'); return false;" style="cursor: pointer;">'+i+'</a></li>';
 	 	 			 $('.pagination').append(li);
 	 	 		}
 	 			
 	 	 		if(resultObj.pageNo != resultObj.lastPage){
 	 	 			 var li = '<li><a href="#" onclick="commentPage('+(resultObj.pageNo+1)+','+reviewNo+');return false;">&raquo;</a></li>';
 	 	 			 $('.pagination').append(li);
 	 	 		}
			}
			pageNumber = resultObj.pageNo;
			
		},'json');
	 });
 	 
 	// 정보보기
 	$("#viewInfo").click(function() {
 		$.getJSON(contextRoot + '/cosmetic/ajax/viewInfo.do?reviewNo='+reviewNo, 
			function(resultObj) {	
	 			var info = resultObj.ajaxResult.data;
	 			
	 			var formattedDate = new Date(info.sugeryDate);
				var year 	= formattedDate.getFullYear();
				var month 	= formattedDate.getMonth() + 1;
				var day 	= formattedDate.getDate();
				var regDate = year + '년 ' + month +'월 '+ day + '일';
	 			
	 			if(info.status == 0) {
	 				$(".modal-body").html("수술정보가 등록되어있지 않습니다.");
	 			} else {
		 			$("#surgeryWay").html(info.sugeryWay);
		 			$("#hospitalName").html(info.hospitalName);
		 			$("#doctorName").html(info.doctorName);
		 			$("#surgeryPrice").html(info.sugeryPrice);
		 			$("#surgeryDate").html(regDate);
	 			}
 			}
 		);
 	});
});

function commentPage(pageNo,reviewNo) {
	
	$.getJSON(contextRoot + '/cosmetic/ajax/searchComment.do?pageNo='+pageNo+'&reviewNo='+reviewNo,function(resultObj){
		$('#comment-area').children('tr').remove();
		
		for(var comment of resultObj.comment){
			
			// 날짜 변환
	 		var formattedDate = new Date(comment.regDate);
			var years = formattedDate.getFullYear();
			var months = formattedDate.getMonth() + 1;
			var days = formattedDate.getDate();
			var hours = formattedDate.getHours();
			var minutes = formattedDate.getMinutes();
			var regDate = years + '.' + months +'.'+ days + ' ' + hours + ':' + minutes;
			
			// 결과값을 태그에 추가
	 		var tr = '<tr id=c_'+comment.commentNo+'>';
                tr+=     '	<td>'+comment.commentNo+'</td>                                                                                            															';
                tr+=     '	<td>'+comment.member[0].id+'</td>                                                                                         															';
                tr+=     '	<td>'+comment.content+'</td>                                                                                              															';
                tr+=     '	<td>'+regDate+'</td>                                                                                                          															';
                tr+=     '<td class="favorite"><a onclick=commentDel('+comment.commentNo+','+reviewNo+') class="btn btn-danger btn-xs">삭제</a></td>';
                tr+= '</tr>		                                                                                                                    															';
	 		 	$('#comment-area').append(tr);
	 		 	$('#textArea').val('');
		}
		$('.pagination').children('li').remove();
		
		// 다시 페이지번호 출력
 		if(resultObj.pageNo != 1){
 			var li = '<li><a href="#" onclick="commentPage('+(pageNo-1)+','+reviewNo+');return false;">&laquo;</a></li>';
 			$('.pagination').append(li);
 		}
 		
		for(var i = resultObj.beginPage; i <= resultObj.endPage; i++){
 			 var li = '<li id=p_'+ i +'><a href="#" onclick="commentPage('+ i +','+reviewNo+'); return false;" style="cursor: pointer;">'+i+'</a></li>';
 			 $('.pagination').append(li);
 		}
		
 		if(resultObj.pageNo != resultObj.lastPage){
 			 var li = '<li><a href="#" onclick="commentPage('+(pageNo+1)+','+reviewNo+');return false;">&raquo;</a></li>';
 			 $('.pagination').append(li);
 		}
		pageNumber = resultObj.pageNo;
	});
	
	console.log(pageNumber);
}

function commentDel(commentNo, reviewNo) {
	$.ajax({
		url: contextRoot + '/cosmetic/ajax/reviewCommentDelete.do',
		type: "GET",
		dataType:"json",
		data : {
			pageNo : pageNumber,
			commentNo : commentNo,
			reviewNo : reviewNo
		}
	}).done(function(resultObj) {
		var ajaxResult = resultObj.ajaxResult;
		var status = ajaxResult.status;
		var data = ajaxResult.data;
		if(status == 'success'){
// 			console.log(data);
// 			$('#c_'+commentNo).remove();
			console.log(data);
			$('#comment-area').children('tr').remove();
			for(var comment of data.commentList){
				
				// 날짜 변환
		 		var formattedDate = new Date(comment.regDate);
				var years = formattedDate.getFullYear();
				var months = formattedDate.getMonth() + 1;
				var days = formattedDate.getDate();
				var hours = formattedDate.getHours();
				var minutes = formattedDate.getMinutes();
				var regDate = years + '.' + months +'.'+ days + ' ' + hours + ':' + minutes;
				
				// 결과값을 태그에 추가
		 		var tr = '<tr id=c_'+comment.commentNo+'>';
	                tr+=     '	<td>'+comment.commentNo+'</td>                                                                                            															';
	                tr+=     '	<td>'+comment.member[0].id+'</td>                                                                                         															';
	                tr+=     '	<td>'+comment.content+'</td>                                                                                              															';
	                tr+=     '	<td>'+regDate+'</td>                                                                                                          															';
	                tr+=     '<td class="favorite"><a onclick=commentDel('+comment.commentNo+','+reviewNo+') class="btn btn-danger btn-xs">삭제</a></td>';
	                tr+= '</tr>		                                                                                                                    															';
		 		 	$('#comment-area').append(tr);
		 		 	$('#textArea').val('');
			}
			$('.pagination').children('li').remove();
			
			// 다시 페이지번호 출력
	 		if(data.pageNo != 1){
	 			var li = '<li><a href="#" onclick="commentPage('+(data.pageNo-1)+','+reviewNo+');return false;">&laquo;</a></li>';
	 			$('.pagination').append(li);
	 		}
	 		
			for(var i = data.beginPage; i <= data.endPage; i++){
	 			 var li = '<li id=p_'+ i +'><a href="#" onclick="commentPage('+ i +','+reviewNo+'); return false;" style="cursor: pointer;">'+i+'</a></li>';
	 			 $('.pagination').append(li);
	 		}
			
	 		if(data.pageNo != data.lastPage){
	 			 var li = '<li><a href="#" onclick="commentPage('+(data.pageNo+1)+','+reviewNo+');return false;">&raquo;</a></li>';
	 			 $('.pagination').append(li);
	 		}
			pageNumber = data.pageNo;
		}
		else{
			BootstrapDialog.show({
			    title: 'Success',
			    message: '권한이 없습니다.' ,
			    buttons: [{
			        id: 'btn-ok',   
			        icon: 'glyphicon glyphicon-check',       
			        label: 'OK',
			        cssClass: 'btn-danger', 
			        autospin: false,
			        action: function(dialogRef){    
			            dialogRef.close();
			        }
			    }]
			});
			//alert('권한이 없습니다.');
		}
	});
 }
</script>
<style type="text/css">
	.divideLine {
		border-bottom: 1px dashed #ddd;
		padding-bottom: 15px;
		margin-right: 0px;
		margin-top: 15px;
	}
	
	.paddingL { padding-left: 0px; }
	
	.paddingR { padding-right: 0px; }
</style>
</head>

<body>
	<!-- top -->
	<div data-role="page" id="top"></div>
	
	<!-- 유저리뷰 표시줄 -->
    <div data-role="page" id="top"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header-new">USER REVIEW</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="flexslider">
					<ul class="slides"></ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row divideLine" style="margin-top: 0px;">
					<a href="#" class="btn btn-danger" id="viewInfo" data-toggle="modal" data-target="#myModal" style="position: absolute; right: 15px; z-index: 1;">View Info</a>
					<div class="col-lg-12 paddingL"> 
						<h4 class="font-bold" id="data-title" style="margin: 0px;"></h4>
					</div>
					<div class="col-lg-12 paddingL"> 
						<h5 class="font-basic" id="memberId"></h5>
					</div>
					<div class="col-lg-12 paddingL paddingR" style="text-align: right;"> 
						좋아요<span id="recomCnt">330</span> | 댓글<span id="commentCnt">2343</span> | 조회 <span id="viewCnt">34231</span>
					</div>
				</div>
				<div class="row divideLine " style="height: 130px;">
					<div id="data-content" class="col-lg-12 paddingL"></div>
				</div>
				<div class="row" style="margin-right: 0px; margin-top: 15px;">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>No.</th>
								<th>글쓴이</th>
								<th>내용</th>
								<th>등록일</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody id="comment-area"></tbody>
					</table>
					<div style="padding: 0px; margin: 0px; line-height: none; text-align: center;">
						<ul class="pagination pagination-sm"></ul>
					</div>
					<div>
						<div class="col-lg-2 paddingL" id="commentId"></div>
						<div class="col-lg-8">
							<textarea class="form-control" rows="1" id="textArea"></textarea>
						</div>
						<div class="col-lg-2">
							<button type="button" id="submitBtn" class="btn btn-danger">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="border-top: 1px solid #ddd; margin: 15px 0px; padding: 15px 0px;">
			<div class="col-lg-6 col-lg-offset-6 paddingL" style="margin-bottom: 20px;">
				<div style="position: absolute;"> 
					<button id="recomBtn" type="button" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>좋아요
					</button>
					<button id="wishBtn" type="button" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>찜
					</button>
				</div>
				<div style="position: absolute; right: 0px;"> 
					<a href="user_review_list.html" class="btn btn-default">LIST</a>
					<a href="#" id="updateBtn" class="btn btn-default">UPDATE</a> 
					<a href="#" id="deleteBtn" class="btn btn-danger">DELETE</a> 
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">수술정보</h4>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<th>수술방법　:　</th>
							<td id="surgeryWay"></td>
						</tr>
						<tr>
							<th>병　　원　:　</th>
							<td id="hospitalName"></td>
						</tr>
						<tr>
							<th>담당의사　:　</th>
							<td id="doctorName"></td>
						</tr>
						<tr>
							<th>수술비용　:　</th>
							<td id="surgeryPrice"></td>
						</tr>
						<tr>
							<th>수술시기　:　</th>
							<td id="surgeryDate"></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
