<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);</style>
<style>@import url(https://fonts.googleapis.com/css?family=Dosis:400,800);</style>
<title>User Review List</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/masonry-docs.css" />
<link rel="stylesheet" type="text/css" href="../css/header.css" />
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://npmcdn.com/flickity@1.1/dist/flickity.min.css">

<!-- Script -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jQuery 최신버전 -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script> <!-- marsonry -->
<script src="https://npmcdn.com/flickity@1.1/dist/flickity.pkgd.min.js"></script><!-- flickity -->
<!-- <script src="../js/isotope-docs.min.js" type="text/javascript"></script> istope -->
<!-- <script src="../js/isotope.pkgd.js" type="text/javascript"></script> -->
<script src="../lib/bootstrap/js/bootstrap.min.js"></script> <!-- Bootstrap.js -->



<style type="text/css" media="screen">
	#body-all{
		width: 100%;
	}
	#body-content{
		width: 80%;
		margin-left: 180px;
	}
	.col-xs-12,.col-md-8,.col-md-3,.col-md-pull-9{
		text-align: left;
	}
	..col-xs-12,.col-md-8{
		text-overflow:ellipsis;
		overflow: hidden;
	}
	.col-md-8{
		font-family: "HY견고딕";
		color: rgb(127,127,127);
		text-overflow:ellipsis;
		overflow: hidden;
	}
	.col-md-8-title{
		font-family: "HY견고딕";
		font-weight: bold;
		color: rgb(89,89,89);
		text-overflow:ellipsis;
		overflow: hidden;
	}
	.col-xs-6,.col-md-4{
		text-align: right;
		margin-top: 17px;
	}
	.col-md-3,.col-md-pull-9{
		padding-left: 0px;
	}
	.col-md-4-bottom-right{
		
	}
	.row-main{
		border: 3px solid #a6a6a6;
	}
	#bottom-fix{
		position:fixed; 
		left:0; 
		bottom:0; 
		z-index:2; 
		width:100%;
	}
	#bottom-content-left{
		width:1090px;
		margin-top: 33px;
		text-align: center;
	}
	#bottom-content-middle{
		text-align: center;
	}
	#bottom-content-right{
		margin-top:33px;
		margin-left: 25px;
		width: 130px;
		text-align: right;
	}
	

</style>
<script type="text/javascript">

	$(document).ready(function(){
// 		var container = document.querySelector('#masonry');
		$('#masonry').masonry({
			itemSelector:'.item',
			columnWidth:968,
			percentPosition:true
		});
		$('#masonry').imagesLoaded(function() {
			$container.layout('layout');
		});
// 		var msnry = new Masonry(container,{
// 			itemSelector:'.item',
// 			columnWidth:968,
// 			percentPosition:true
// 		});
// 		imagesLoaded(container).on('progress', function(){
// 			msnry.layout();
// 		});
		$('#listMore').on('click',function() {
			var div ='<div class="item">';
			    div += '<div class="row row-main">';
		    	div += '<div class="col-md-9 col-md-push-3">';
		    	div += '<div class="row">'
				div +=  '<div class="col-xs-12 col-md-8 col-md-8-title"><h3>엄청좋네요~! 인생 바꼈네요 취직도되고</h3></div>'
				div +=  '<div class="col-xs-6 col-md-4"><span class="top-right-data"><img src="../images/조회수.png" />15023</span>&nbsp;<span class="top-right-data"><img src="../images/추천수.png" />2525</span>&nbsp;<span class="top-right-data"><img src="../images/등록일자.png" />2016.02.27</span></div>';
				div += '</div>';
				div += '<div class="row">';
				div += '<div class="col-md-8">아직은 세상은 살만한가 봅니다 허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허 갸꿀</div>';
				div += '<div class="col-md-4 col-md-4-bottom-right"><h2><span class="label label-danger">MORE+</span></h2></div>';
				div += '</div>';
				div	+= '</div>';
				div += '<div class="col-md-3 col-md-pull-9"><img src="../images/review_main4.jpg" width="250" height="170" /></div>';
	    		div += '</div>';
	    		div	+= '</div>';
	    	var $elem = $(div);
	    		console.log($elem);
	    	$('#masonry').append($elem).masonry('appended',$elem);
		});
// 		$('#masonry').each(function(){
// 			var oWidth = $(this).width();
// 			console.log(oWidth);
// 			var oHeight = $(this).height();
// 			$(this).css({
// 				'max-width' : oWidth+'px',
// 				'width' : '100%'
// 			});
// 		});
	});
</script>
</head>
<body>
	<!-- Header -->
	<div id="bar"></div>			
	<div id="menu1">  
        <div class="menu"><a href="Counsel.html">상담신청</a></div>
        <div class="menu"><a href="user_review2.html">유저리뷰</a></div>
        <div class="menu">병원찾기</div> 
        <div style="width:60px; margin: 0 auto;"><img src="../images/logo.gif" width="60" /></div> 
        <div class="menu">문의하기</div>
        <div class="menu">고객센터</div>
        <div class="menu">로그인</div> 
    </div>
     
    <div style="width: 100%;"> 
        <h5 style="text-align: center;">BE A BEAUTIFUL GIRL</h5>
        <h1 style="text-align: center;"><a href="mainandreview.html">SECOND LIFE</a></h1>
        </div>  
    </div>
    
    <!-- content -->
    <div id="body-all">
    	<div id="body-content">
	    	<div class="row" style="width: 100%;">
			  <div class="col-sm-9" style="text-align: center; width: 100%;">
			  		<hr />
			    	<h2 style="color:#a6a6a6;">HOT BEST</h2>
			    	<hr />
			    <div class="row">
			      <div class="col-sm-9" style="width: 100%;">
			        <div class="gallery js-flickity" data-flickity-options='{ "lazyLoad": 2, "initialIndex": 2,"autoPlay": 2000}' style="height: 300px;">
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main1.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main2.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main3.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main4.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main5.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main6.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main7.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main8.jpg" width="300" height="300"/>
					  </div>
					  <div class="gallery-cell">
					    <img class="gallery-cell-image" data-flickity-lazyload="../images/review_main9.jpg" width="300" height="300"/>
					  </div>
					</div>
			        
			      </div>
			    </div>
			  </div>

			  <div class="row" style="width: 100%; height: 170px;">
			  <div class="col-sm-9" style="text-align: center; width: 100%; margin-top:15px;">
			  		<br />
			  		<br />
			  		<hr />
			    	<h2 style="color:#a6a6a6;">REVIEW LIST</h2>
			    	<hr />
			    
			    <!-- Content -->
			    <div id="masonry" style="min-width: 967px; max-width: 1266px;">
<!-- 			    <div id="columns"> -->
			    <div class="item">
			    <div class="row row-main">
				    <div class="col-md-9 col-md-push-3">
				    	<div class="row">
						  <div class="col-xs-12 col-md-8 col-md-8-title"><h3>쌍수 한지 3달째!! 정말정말 좋아요~!</h3></div>
						  <div class="col-xs-6 col-md-4"><span class="top-right-data"><img src="../images/조회수.png" />23534</span>&nbsp;<span class="top-right-data"><img src="../images/추천수.png" />1983</span>&nbsp;<span class="top-right-data"><img src="../images/등록일자.png" />2016.02.25</span></div>
						</div>
						<div class="row">
							<div class="col-md-8">쌍수한지 3개월째 새우우웅곡 멋있어ㄹㄹㄹㄹㅅ샷좋아asdsadnjxzcnklxzcklvnxklcvnklxcnklvxcnklvnklxcnvlkxcnvlkxcnvklxcnlkvnxcklnvklxcnvcklxndfgfdgfdgndfkgndfklngldfngl</div>
   							<div class="col-md-4 col-md-4-bottom-right"><h2><span class="label label-danger">MORE+</span></h2></div>
						</div>

				    </div>
  					<div class="col-md-3 col-md-pull-9"><img src="../images/review_main1.jpg" width="250" height="170" /></div>
			    </div>
			    </div>
			    
			    <div class="item">
			    <div class="row row-main">
				    <div class="col-md-9 col-md-push-3">
				    	<div class="row">
						  <div class="col-xs-12 col-md-8 col-md-8-title"><h3>엄청좋네요~! 인생 바꼈네요 취직도되고</h3></div>
						  <div class="col-xs-6 col-md-4"><span class="top-right-data"><img src="../images/조회수.png" />15023</span>&nbsp;<span class="top-right-data"><img src="../images/추천수.png" />2525</span>&nbsp;<span class="top-right-data"><img src="../images/등록일자.png" />2016.02.27</span></div>
						</div>
						<div class="row">
							<div class="col-md-8">아직은 세상은 살만한가 봅니다 허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허 갸꿀</div>
   							<div class="col-md-4 col-md-4-bottom-right"><h2><span class="label label-danger">MORE+</span></h2></div>
						</div>

				    </div>
  					<div class="col-md-3 col-md-pull-9"><img src="../images/review_main2.jpg" width="250" height="170" /></div>
			    </div>
			    </div>
			    
			    <div class="item">
			    <div class="row row-main">
				    <div class="col-md-9 col-md-push-3">
				    	<div class="row">
						  <div class="col-xs-12 col-md-8 col-md-8-title"><h3>엄청좋네요~! 인생 바꼈네요 취직도되고</h3></div>
						  <div class="col-xs-6 col-md-4"><span class="top-right-data"><img src="../images/조회수.png" />15023</span>&nbsp;<span class="top-right-data"><img src="../images/추천수.png" />2525</span>&nbsp;<span class="top-right-data"><img src="../images/등록일자.png" />2016.02.27</span></div>
						</div>
						<div class="row">
							<div class="col-md-8">아직은 세상은 살만한가 봅니다 허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허 갸꿀</div>
   							<div class="col-md-4 col-md-4-bottom-right"><h2><span class="label label-danger">MORE+</span></h2></div>
						</div>
				    </div>
  					<div class="col-md-3 col-md-pull-9"><img src="../images/review_main3.jpg" width="250" height="170" /></div>
			    </div>
			    </div>
			    <!-- Content end -->
<!-- 			    </div> -->
			    <!-- Columns end -->
			    </div>
			    <!-- Masonry end -->
				
				<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4" id="bottom-content-middle"><h1><span class="label label-danger" id="listMore">더 보기</span></h1></div>
						<div class="col-md-4"><h1><span class="label label-default">WRITE</span></h1></div>
				 </div>
				
			  </div>
			  
			  
			</div>
			
			
		</div>
	
	
    </div>
    
    </div>
</body>
</html>